@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
@font-face {
  font-family: 'Mathlete-Skinny';
  src: url("font/Mathlete-Skinny.otf");
}
@font-face {
  font-family: 'Cheddar';
  src: url("font/cheddarjack.otf");
  font-style: lighter;
}
/* line 27, ../sass/index.scss */
html, body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro";
  color: #313131;
}

/* line 34, ../sass/index.scss */
.button {
  border: solid 1px #f09494;
  border-radius: 10px;
  color: #f09494;
  padding: 15px 20px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}
/* line 43, ../sass/index.scss */
.button:hover {
  background-color: #f09494;
  color: white;
}

/* line 53, ../sass/index.scss */
header {
  background-color: #d5f1f3;
  margin-bottom: 40px;
  padding-bottom: 30px;
  text-align: center;
}
/* line 61, ../sass/index.scss */
header .logo {
  width: 500px;
  margin: 0 auto;
  display: inline-block;
  position: relative;
}
/* line 67, ../sass/index.scss */
header .logo h1 {
  vertical-align: bottom;
  font-family: "Cheddar";
  font-size: 6em;
  margin: 0;
  position: absolute;
  bottom: 25px;
  right: 15px;
  color: #313131;
}
/* line 79, ../sass/index.scss */
header .field {
  display: inline-block;
  width: 350px;
  margin: 0 auto;
  text-align: left;
  vertical-align: top;
  position: relative;
  top: 100px;
  left: -80px;
}
/* line 89, ../sass/index.scss */
header .field h2 {
  font-family: "Mathlete-Skinny";
  font-size: 2.5em;
  margin: 0;
  color: #313131;
}

/* line 98, ../sass/index.scss */
.wrapper {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
/* line 105, ../sass/index.scss */
.wrapper form .separator {
  width: 30px;
  display: inline-block;
}
/* line 110, ../sass/index.scss */
.wrapper form input {
  border: solid 1px #d6d3d3;
  border-radius: 10px;
  color: #949393;
  padding: 15px;
  width: 260px;
  background-color: transparent;
}

/* line 121, ../sass/index.scss */
footer {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}
/* line 127, ../sass/index.scss */
footer .follow_us {
  font-family: "Mathlete-Skinny";
  display: inline-block;
  vertical-align: top;
  font-size: 2em;
}
/* line 134, ../sass/index.scss */
footer .socials {
  display: inline-block;
  vertical-align: bottom;
  padding: 0;
  margin: 0;
}
/* line 140, ../sass/index.scss */
footer .socials li {
  display: inline-block;
}
/* line 143, ../sass/index.scss */
footer .socials li a {
  background-repeat: no-repeat;
  height: 27px;
  margin-left: 20px;
  display: inline-block;
  transition: 0.2s;
  position: relative;
  top: 0;
}
/* line 152, ../sass/index.scss */
footer .socials li a.facebook {
  background-image: url("../img/facebook.png");
  width: 27px;
}
/* line 156, ../sass/index.scss */
footer .socials li a.twitter {
  background-image: url("../img/twitter.png");
  width: 34px;
}
/* line 160, ../sass/index.scss */
footer .socials li a.instagram {
  background-image: url("../img/instagram.png");
  width: 26px;
}
/* line 164, ../sass/index.scss */
footer .socials li a.snapchat {
  background-image: url("../img/snapchat.png");
  width: 27px;
}
/* line 168, ../sass/index.scss */
footer .socials li a.pinterest {
  background-image: url("../img/pinterest.png");
  width: 27px;
}
/* line 173, ../sass/index.scss */
footer .socials li a:hover {
  top: -5px;
}
/* line 180, ../sass/index.scss */
footer .cgu {
  display: block;
  margin-top: 25px;
  text-decoration: none;
  color: #949393;
}
/* line 186, ../sass/index.scss */
footer .cgu:hover {
  text-decoration: underline;
}
