@font-face {
	font-family: "noddifont";
	src: url('webroot/css/font/noddifont.eot');
	src: url('webroot/css/font/noddifont.eot?#iefix') format('eot'),
		url('webroot/css/font/noddifont.woff') format('woff'),
		url('webroot/css/font/noddifont.ttf') format('truetype'),
		url('webroot/css/font/noddifont.svg#noddifont') format('svg');
}

.icon:before {
	font-family: "noddifont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-1436747831_06-facebook:before {
	content: "\E001";
}

.icon-1436747854_03-twitter:before {
	content: "\E002";
}

.icon-1436747862_38-instagram:before {
	content: "\E003";
}

.icon-1436747872_73-pinterest:before {
	content: "\E004";
}

.icon-1436747973_snapchat:before {
	content: "\E005";
}

.icon-1436748204_checkmark-24:before {
	content: "\E006";
}

.icon-1436838968_ic_home_48px:before {
	content: "\E007";
}

.icon-1436839017_ic_local_offer_48px:before {
	content: "\E008";
}

.icon-1436839042_ic_favorite_48px:before {
	content: "\E009";
}

.icon-1436839057_ic_message_48px:before {
	content: "\E00A";
}

.icon-1436839058_cake:before {
	content: "\E00B";
}

.icon-1437096000_008_Mail:before {
	content: "\E00C";
}

.icon-1437096256_ic_pin_drop_48px:before {
	content: "\E00D";
}

.icon-1437096380_ic_user_48px:before {
	content: "\E00E";
}

.icon-1437103319_ic_keyboard_arrow_left_48px:before {
	content: "\E00F";
}

.icon-1437103384_ic_mode_edit_48px:before {
	content: "\E010";
}

.icon-1437103388_ic_delete_48px:before {
	content: "\E011";
}

.icon-1437140065_ic_lock_48px:before {
	content: "\E012";
}

.icon-1437140241_ic_store_mall_directory_48px:before {
	content: "\E013";
}

.icon-1437140396_ic_laptop_mac_48px:before {
	content: "\E014";
}

.icon-1437146596_website:before {
	content: "\E015";
}

.icon-1437163696_ic_close_48px:before {
	content: "\E016";
}

.icon-1437317200_ic_reply_48px:before {
	content: "\E017";
}

.icon-1437402276_ic_phone_iphone_48px:before {
	content: "\E018";
}

.icon-1437402329_ic_face_unlock_48px:before {
	content: "\E019";
}

.icon-1437403496_ic_format_quote_48px:before {
	content: "\E01A";
}

.icon-1437403498_ic_hands_48px:before {
	content: "\E01B";
}

.icon-1437403498_ic_shoes_48px:before {
	content: "\E01C";
}

.icon-1437412414_ic_star_rate_48px:before {
	content: "\E01D";
}

.icon-1437412416_ic_hourglass_48px:before {
	content: "\E01E";
}

.icon-1437412418_ic_pieces_48px:before {
	content: "\E01F";
}

.icon-1437412420_ic_thumb_48px:before {
	content: "\E020";
}

.icon-1437416344_ic_attach_money_48px:before {
	content: "\E021";
}

.icon-1437416348_ic_flash_on_48px:before {
	content: "\E022";
}

.icon-1437416351_ic_verified_user_48px:before {
	content: "\E023";
}

.icon-1437416352_facebook:before {
	content: "\E024";
}

.icon-1437416353_instagram:before {
	content: "\E025";
}

.icon-1437416354_pinterest:before {
	content: "\E026";
}

.icon-1437416355_snapchat:before {
	content: "\E027";
}

.icon-1437416356_twitter:before {
	content: "\E028";
}

.icon-1437579659_ic_search_48px:before {
	content: "\E029";
}

.icon-1437579697_Socialmedia_icons_Tumblr:before {
	content: "\E02A";
}

.icon-1437579715_Socialmedia_icons_Youtube:before {
	content: "\E02B";
}

.icon-1437579768_vine:before {
	content: "\E02C";
}

.icon-1437579804_Socialmedia_icons_Flickr:before {
	content: "\E02D";
}
