@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
@font-face {
  font-family: 'Satisfy-Regular';
  src: url("font/Satisfy-Regular.eot");
  src: url("font/Satisfy-Regular.woff") format("woff"), url("font/Satisfy-Regular.ttf") format("truetype"), url("font/Satisfy-Regular.svg#Satisfy-Regular") format("svg");
  src: url("font/Satisfy-Regular.otf"); }
@font-face {
  font-family: 'noddifont';
  src: url("font/noddifont.eot");
  src: url("font/noddifont.eot?#iefix") format("eot"), url("font/noddifont.woff") format("woff"), url("font/noddifont.ttf") format("truetype"), url("font/noddifont.svg#noddifont") format("svg"); }
@font-face {
  font-family: 'Mathlete-Bulky';
  src: url("font/Mathlete-Bulky.eot");
  src: url("font/Mathlete-Bulky.woff") format("woff"), url("font/Mathlete-Bulky.ttf") format("truetype"), url("font/Mathlete-Bulky.svg#Mathlete-Bulky") format("svg");
  src: url("font/Mathlete-Bulky.otf"); }
@font-face {
  font-family: 'Satisfy-Regular';
  src: url("font/Satisfy-Regular.eot");
  src: url("font/Satisfy-Regular.woff") format("woff"), url("font/Satisfy-Regular.ttf") format("truetype"), url("font/Satisfy-Regular.svg#Satisfy-Regular") format("svg");
  src: url("font/Satisfy-Regular.otf"); }
.title, h1, .page_index section.servicePresentation .presentation h3, .page_index section.memberType .typeDescription .description h2, .page_index section.memberType .typeDescription.details .description ul li span {
  font-size: 40px;
  font-size: 4rem;
  font-family: 'Satisfy-Regular', Arial, sans-serif; }

.subtitle, h2, footer .socials h3 {
  font-size: 32px;
  font-size: 3.2rem;
  font-family: 'Mathlete-Bulky', Arial, sans-serif;
  font-weight: lighter; }

.subtitleSmall, h3 {
  font-size: 25px;
  font-size: 2.5rem;
  font-family: Helvetica, Arial, sans-serif; }

.subtitleMini, h4, .page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse .modeuseName, .page_index section.section_home ul.all_favoris li.modeuse .infoModeuse .modeuseName {
  font-size: 20px;
  font-size: 2rem;
  font-family: Helvetica, Arial, sans-serif; }

.regularText, body {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', Arial, sans-serif; }

.showLarge {
  display: none; }
  @media (min-width: 500px) {
    .showLarge {
      display: inherit; } }

*::selection {
  background-color: #ef8f7a;
  color: #ffffff; }

html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; }
  @media (min-width: 500px) {
    body {
      flex-direction: row; } }

a {
  color: inherit;
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

form {
  display: flex;
  flex-direction: column; }
  form label {
    font: 0/0 serif;
    color: transparent;
    text-shadow: none; }
    form label.showLabel {
      font: inherit;
      color: inherit;
      text-shadow: inherit;
      position: relative;
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      margin: 5px;
      border: solid 3px #ef8f7a;
      background: none;
      color: #ef8f7a;
      font-weight: bold; }
  form input, form textarea {
    box-sizing: border-box;
    border: solid 1px #f6f6f6;
    border-radius: 12px;
    padding: 12px 20px;
    outline: none;
    margin-bottom: 15px; }
    form input[type="radio"], form input[type="checkbox"], form textarea[type="radio"], form textarea[type="checkbox"] {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      opacity: 0; }
      form input[type="radio"]:checked + label, form input[type="checkbox"]:checked + label, form textarea[type="radio"]:checked + label, form textarea[type="checkbox"]:checked + label {
        background: #ef8f7a;
        color: #ffffff; }
        form input[type="radio"]:checked + label:before, form input[type="checkbox"]:checked + label:before, form textarea[type="radio"]:checked + label:before, form textarea[type="checkbox"]:checked + label:before {
          padding-right: 5px;
          width: 10px;
          height: 10px;
          content: "";
          color: #ffffff;
          font-size: 10px;
          font-size: 1rem;
          font-family: "noddifont";
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          text-decoration: none;
          text-transform: none; }

.checklist, .radiolist {
  display: flex;
  flex-wrap: wrap;
  position: relative; }

.button {
  border-radius: 12px;
  padding: 10px 20px;
  margin: 5px 15px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
  color: #ef8f7a;
  border: solid #ef8f7a 3px;
  background: none;
  display: block;
  outline: none; }
  .button:hover {
    color: #ffffff;
    background: #ef8f7a; }
  .button.reversed {
    border: solid #ef8f7a 3px;
    background: #ef8f7a;
    color: #ffffff; }
    .button.reversed:hover {
      border: solid #aaaaaa 3px;
      background: #aaaaaa; }
  .button.small {
    padding: 5px 10px; }
  .button.dark {
    border-color: #aaaaaa;
    background: #aaaaaa;
    color: #ffffff; }
    .button.dark:hover {
      border-color: #ef8f7a;
      background: none;
      color: #ffffff; }

#container {
  flex: 1;
  width: 100%; }

.headerApp {
  display: flex;
  background: #f6f6f6;
  margin: 0; }
  .headerApp nav#navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 30; }
    @media (min-width: 500px) {
      .headerApp nav#navigation {
        position: relative; } }
    .headerApp nav#navigation ul.menu {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row; }
      @media (min-width: 500px) {
        .headerApp nav#navigation ul.menu {
          flex-direction: column; } }
      .headerApp nav#navigation ul.menu li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 1;
        background: #f6f6f6;
        color: #ffffff;
        padding: 10px 0; }
        @media (min-width: 500px) {
          .headerApp nav#navigation ul.menu li {
            height: auto;
            padding: 20px;
            padding-top: 40px;
            text-align: center; } }
        .headerApp nav#navigation ul.menu li + li {
          border-left: solid 1px #000; }
          @media (min-width: 500px) {
            .headerApp nav#navigation ul.menu li + li {
              border-top: solid 1px #000; } }
        .headerApp nav#navigation ul.menu li.active {
          background: #ef8f7a; }
        .headerApp nav#navigation ul.menu li.home:before {
          content: "";
          color: #ffffff;
          font-size: 25px;
          font-size: 2.5rem;
          font-family: "noddifont";
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          text-decoration: none;
          text-transform: none; }
        .headerApp nav#navigation ul.menu li.offers:before {
          content: "";
          color: #ffffff;
          font-size: 25px;
          font-size: 2.5rem;
          font-family: "noddifont";
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          text-decoration: none;
          text-transform: none; }
        .headerApp nav#navigation ul.menu li.favs:before {
          content: "";
          color: #ffffff;
          font-size: 25px;
          font-size: 2.5rem;
          font-family: "noddifont";
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          text-decoration: none;
          text-transform: none; }
        .headerApp nav#navigation ul.menu li.messages:before {
          content: "";
          color: #ffffff;
          font-size: 25px;
          font-size: 2.5rem;
          font-family: "noddifont";
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          text-decoration: none;
          text-transform: none; }

header.headerPage {
  display: flex;
  flex-direction: row-reverse; }
  header.headerPage h2.titlePage {
    flex: 7;
    background: #acdce0;
    text-align: center;
    padding: 5px 0;
    margin: 0;
    color: #ffffff; }
    @media (min-width: 500px) {
      header.headerPage h2.titlePage {
        color: #000000;
        background: none; } }
  header.headerPage .previousStepMenu {
    font: 0/0 serif;
    color: transparent;
    text-shadow: none; }
    header.headerPage .previousStepMenu:before {
      content: ' < ';
      font: inherit;
      color: inherit;
      text-shadow: inherit;
      flex: 1; }

/*
*   PROPOSITIONS
*/
.proposition {
  border: solid 1px black;
  padding: 10px;
  width: 90%;
  max-width: 300px;
  margin: 0 auto; }
  .proposition .proposition_picture, .proposition .proposition_content, .proposition .proposition_buttons {
    display: inline-block;
    vertical-align: top; }

.center {
  width: 350px;
  margin: 0 auto;
  margin-top: 20px; }

.proposition_sent {
  width: 150px;
  display: inline-block;
  border: solid 1px black;
  padding: 10px; }
  .proposition_sent div {
    display: inline-block;
    vertical-align: top;
    width: 70px; }

.proposition_received {
  border: solid 1px black;
  padding: 10px;
  width: 90%;
  max-width: 300px;
  margin: 0 auto; }
  .proposition_received .buttons .button {
    display: inline-block;
    vertical-align: top; }

/*
*   MESSAGES
*/
.message {
  width: 300px;
  margin: 0 auto;
  border: solid 1px black;
  padding: 10px; }
  .message .message_sender, .message .message_time {
    display: inline-block;
    vertical-align: top; }

.page_index header.homepage {
  background: url("../img/pictures/cible.jpg") center center;
  background-size: cover;
  padding: 40px; }
  .page_index header.homepage .topMenu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .page_index header.homepage .topMenu .logo {
      max-width: 200px; }
      .page_index header.homepage .topMenu .logo img {
        max-width: 100%;
        height: auto; }
    .page_index header.homepage .topMenu .button {
      border-color: #ffffff;
      color: #ffffff; }
  .page_index header.homepage .content {
    text-align: center; }
    .page_index header.homepage .content h2 {
      font-size: 35px;
      font-size: 3.5rem;
      color: #ffffff; }
    .page_index header.homepage .content .button {
      display: inline-block; }
.page_index section.servicePresentation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding: 0 20px; }
  @media (min-width: 500px) {
    .page_index section.servicePresentation {
      flex-direction: row; } }
  .page_index section.servicePresentation .presentation {
    position: relative; }
    .page_index section.servicePresentation .presentation:before {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background: #ef8f7a;
      color: #ffffff;
      position: absolute;
      margin-left: 45%;
      margin-top: 10px;
      z-index: -5; }
      @media (min-width: 500px) {
        .page_index section.servicePresentation .presentation:before {
          z-index: 5;
          margin-top: -20px; } }
    .page_index section.servicePresentation .presentation.free:before {
      content: "";
      color: #ffffff;
      font-size: 30px;
      font-size: 3rem;
      font-family: "noddifont";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      text-decoration: none;
      text-transform: none; }
    .page_index section.servicePresentation .presentation.simple:before {
      content: "";
      color: #ffffff;
      font-size: 30px;
      font-size: 3rem;
      font-family: "noddifont";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      text-decoration: none;
      text-transform: none; }
    .page_index section.servicePresentation .presentation.reliable:before {
      content: "";
      color: #ffffff;
      font-size: 30px;
      font-size: 3rem;
      font-family: "noddifont";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      text-decoration: none;
      text-transform: none; }
.page_index section.memberType .typeDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  padding: 10px; }
  .page_index section.memberType .typeDescription .illustration {
    background: url("../img/pictures/friends.jpg") center center;
    background-size: cover;
    margin-right: 20px;
    flex: 10;
    min-height: 530px; }
    .page_index section.memberType .typeDescription .illustration.illu1 {
      background: url("../img/pictures/friends.jpg") center center; }
    .page_index section.memberType .typeDescription .illustration.illu2 {
      background: url("../img/pictures/intro.jpg") center center; }
    .page_index section.memberType .typeDescription .illustration.illu3 {
      background: url("../img/pictures/takeAPic.jpg") center center; }
    .page_index section.memberType .typeDescription .illustration.illu4 {
      background: url("../img/pictures/echange.jpg") center center; }
  .page_index section.memberType .typeDescription .description {
    flex: 7;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 20px;
    font-size: 2rem; }
    @media (min-width: 500px) {
      .page_index section.memberType .typeDescription .description {
        flex-direction: row; } }
    .page_index section.memberType .typeDescription .description h2 {
      color: #ef8f7a;
      text-align: center;
      margin: 0; }
      @media (min-width: 500px) {
        .page_index section.memberType .typeDescription .description h2 {
          position: absolute;
          font-size: 80px;
          font-size: 8rem;
          margin-left: -50px; }
          .page_index section.memberType .typeDescription .description h2:first-letter {
            font-size: 150px;
            font-size: 15rem; } }
    @media (min-width: 500px) {
      .page_index section.memberType .typeDescription .description p {
        align-self: flex-end;
        margin-left: 80px;
        margin-bottom: 160px; } }
  .page_index section.memberType .typeDescription.details {
    flex-direction: row-reverse; }
    @media (min-width: 500px) {
      .page_index section.memberType .typeDescription.details {
        margin-top: -170px; } }
    .page_index section.memberType .typeDescription.details .illustration {
      border: solid 20px #ffffff; }
    .page_index section.memberType .typeDescription.details .description {
      flex-direction: column !important;
      align-items: baseline;
      justify-content: flex-end;
      display: flex;
      flex-direction: column; }
      .page_index section.memberType .typeDescription.details .description ul {
        list-style: none; }
        .page_index section.memberType .typeDescription.details .description ul li span {
          font-size: 50px;
          font-size: 5rem;
          color: #ef8f7a;
          margin-right: 25px; }
      .page_index section.memberType .typeDescription.details .description .button {
        align-self: center; }
.page_index section.memberType.marque h2 {
  color: #aaaaaa !important; }
.page_index section.memberType.marque ul > li > span {
  color: #aaaaaa !important; }
.page_index section.section_home {
  display: flex;
  flex-direction: column; }
  .page_index section.section_home .myDemandReminder {
    flex-direction: column; }
    .page_index section.section_home .myDemandReminder ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex-wrap: wrap; }
      .page_index section.section_home .myDemandReminder ul li {
        display: flex;
        align-items: flex-end;
        padding: 5px 10px;
        margin: 5px;
        background: #acdce0; }
        .page_index section.section_home .myDemandReminder ul li:before {
          margin-right: 5px;
          content: "";
          color: #ffffff;
          font-size: 15px;
          font-size: 1.5rem;
          font-family: "noddifont";
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          text-decoration: none;
          text-transform: none; }
        .page_index section.section_home .myDemandReminder ul li.edit {
          background: #ef8f7a; }
          .page_index section.section_home .myDemandReminder ul li.edit:before {
            content: none; }
  .page_index section.section_home ul.list_modeuses, .page_index section.section_home ul.all_favoris {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none; }
    .page_index section.section_home ul.list_modeuses li.modeuse, .page_index section.section_home ul.all_favoris li.modeuse {
      min-width: 150px;
      min-height: 150px;
      max-width: 300px;
      margin: 10px;
      background: #f6f6f6; }
      @media (min-width: 500px) {
        .page_index section.section_home ul.list_modeuses li.modeuse, .page_index section.section_home ul.all_favoris li.modeuse {
          flex: 1; } }
      .page_index section.section_home ul.list_modeuses li.modeuse img.modeusePic, .page_index section.section_home ul.all_favoris li.modeuse img.modeusePic {
        width: 100%;
        background: #acdce0; }
      .page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse ul.modeuseStats, .page_index section.section_home ul.all_favoris li.modeuse .infoModeuse ul.modeuseStats {
        list-style: none;
        display: flex; }
        .page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse ul.modeuseStats li.stat, .page_index section.section_home ul.all_favoris li.modeuse .infoModeuse ul.modeuseStats li.stat {
          flex: 1;
          text-align: center; }
          .page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse ul.modeuseStats li.stat:before, .page_index section.section_home ul.all_favoris li.modeuse .infoModeuse ul.modeuseStats li.stat:before {
            position: absolute;
            margin-top: -15px; }
          .page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse ul.modeuseStats li.stat.facebook:before, .page_index section.section_home ul.all_favoris li.modeuse .infoModeuse ul.modeuseStats li.stat.facebook:before {
            content: "";
            color: #acdce0;
            font-size: 20px;
            font-size: 2rem;
            font-family: "noddifont";
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            text-decoration: none;
            text-transform: none; }
          .page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse ul.modeuseStats li.stat.twitter:before, .page_index section.section_home ul.all_favoris li.modeuse .infoModeuse ul.modeuseStats li.stat.twitter:before {
            content: "";
            color: #acdce0;
            font-size: 20px;
            font-size: 2rem;
            font-family: "noddifont";
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            text-decoration: none;
            text-transform: none; }
          .page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse ul.modeuseStats li.stat.instagram:before, .page_index section.section_home ul.all_favoris li.modeuse .infoModeuse ul.modeuseStats li.stat.instagram:before {
            content: "";
            color: #acdce0;
            font-size: 20px;
            font-size: 2rem;
            font-family: "noddifont";
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            text-decoration: none;
            text-transform: none; }
      .page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse .add_favori:before, .page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse .delete_favori:before, .page_index section.section_home ul.all_favoris li.modeuse .infoModeuse .add_favori:before, .page_index section.section_home ul.all_favoris li.modeuse .infoModeuse .delete_favori:before {
        position: absolute;
        content: "";
        color: red;
        font-size: 20px;
        font-size: 2rem;
        font-family: "noddifont";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        text-decoration: none;
        text-transform: none; }

.page_login {
  max-width: 500px;
  margin: auto; }
  .page_login .logo {
    margin: 10px auto;
    max-width: 200px; }
    .page_login .logo img {
      max-width: 100%;
      height: auto; }
  .page_login .connectSections {
    max-width: 500px;
    margin: 10px;
    padding: 20px;
    border: solid 1px #ef8f7a; }
    .page_login .connectSections form {
      display: flex; }
      .page_login .connectSections form div {
        display: flex; }
        .page_login .connectSections form div input {
          flex: 1; }

.page_signin .inscriptionType {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px; }
.page_signin .stepsSignIn {
  position: relative;
  border-bottom: solid 1px;
  height: 15px;
  margin: auto;
  max-width: 300px; }
  .page_signin .stepsSignIn ul {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0; }
    .page_signin .stepsSignIn ul li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      text-align: center;
      list-style: none;
      transform: rotate(45deg);
      color: #ffffff;
      background: #aaaaaa; }
      .page_signin .stepsSignIn ul li.active {
        background: #ef8f7a; }
      .page_signin .stepsSignIn ul li:after {
        width: 50px;
        height: 1px;
        background: #aaaaaa;
        display: block; }
.page_signin .formBrand, .page_signin .formModeuse {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .page_signin .formBrand > div, .page_signin .formModeuse > div {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 20px; }
  .page_signin .formBrand input,
  .page_signin .formBrand textarea, .page_signin .formModeuse input,
  .page_signin .formModeuse textarea {
    width: 100%;
    resize: none; }
  .page_signin .formBrand ul.select_activities, .page_signin .formModeuse ul.select_activities {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0; }
    .page_signin .formBrand ul.select_activities li, .page_signin .formModeuse ul.select_activities li {
      flex: 1;
      min-width: 100px;
      border-radius: 0; }
      .page_signin .formBrand ul.select_activities li.button_selected, .page_signin .formModeuse ul.select_activities li.button_selected {
        background: #ef8f7a; }
  .page_signin .formBrand .sentenceSelect, .page_signin .formModeuse .sentenceSelect {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    padding: 20px 0px; }
    .page_signin .formBrand .sentenceSelect p, .page_signin .formModeuse .sentenceSelect p {
      margin: 3px 5px; }
    .page_signin .formBrand .sentenceSelect select, .page_signin .formModeuse .sentenceSelect select {
      flex: flex-grow;
      border: none;
      color: #ef8f7a;
      font-weight: bold;
      font-size: 20px;
      font-size: 2rem;
      margin: 0 5px;
      outline: none; }
      .page_signin .formBrand .sentenceSelect select option, .page_signin .formModeuse .sentenceSelect select option {
        border: none; }
  .page_signin .formBrand .checklist, .page_signin .formModeuse .checklist {
    margin: 10px 0 20px 0; }

footer {
  background: #acdce0;
  text-align: center;
  padding-bottom: 90px; }
  @media (min-width: 500px) {
    footer {
      padding-bottom: 0; } }
  footer .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-items: baseline;
    padding: 0 10px;
    max-width: 400px;
    margin: auto;
    align-items: center;
    background: #acdce0; }
    @media (min-width: 500px) {
      footer .socials {
        flex-direction: row;
        max-width: 800px; } }
    footer .socials h3 {
      font-size: 40px;
      font-size: 4rem;
      margin: 10px 0; }
    footer .socials ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 0;
      max-width: 320px;
      width: 100%;
      padding: 20px;
      box-sizing: border-box; }
      footer .socials ul li {
        font: 0/0 serif;
        color: transparent;
        text-shadow: none;
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 40px;
        height: 40px;
        background: #ffffff;
        border-radius: 20px;
        transition: background-color 0.2s ease-in-out, font-size 0.2s ease-in-out; }
        footer .socials ul li a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          margin: auto; }
        footer .socials ul li.facebook:hover {
          background: #3b5998; }
        footer .socials ul li.facebook a:before {
          content: "";
          color: #acdce0;
          font-size: 20px;
          font-size: 2rem;
          font-family: "noddifont";
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          text-decoration: none;
          text-transform: none; }
        footer .socials ul li.twitter:hover {
          background: #55acee; }
        footer .socials ul li.twitter a:before {
          content: "";
          color: #acdce0;
          font-size: 20px;
          font-size: 2rem;
          font-family: "noddifont";
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          text-decoration: none;
          text-transform: none; }
        footer .socials ul li.instagram:hover {
          background: #3f729b; }
        footer .socials ul li.instagram a:before {
          content: "";
          color: #acdce0;
          font-size: 20px;
          font-size: 2rem;
          font-family: "noddifont";
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          text-decoration: none;
          text-transform: none; }
        footer .socials ul li.snapchat:hover {
          background: #fffc00; }
        footer .socials ul li.snapchat a:before {
          content: "";
          color: #acdce0;
          font-size: 20px;
          font-size: 2rem;
          font-family: "noddifont";
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          text-decoration: none;
          text-transform: none; }
        footer .socials ul li.pinterest:hover {
          background: #cc2127; }
        footer .socials ul li.pinterest a:before {
          content: "";
          color: #acdce0;
          font-size: 20px;
          font-size: 2rem;
          font-family: "noddifont";
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          text-decoration: none;
          text-transform: none; }
  footer ul > li {
    display: inline-block; }
    footer ul > li:nth-child(n+2):before {
      content: " | "; }
    footer ul > li a {
      color: #ffffff; }
      footer ul > li a:hover {
        text-decoration: underline; }

.page_profile .infoUser {
  display: flex; }

/*# sourceMappingURL=style.css.map */
