@font-face {
	font-family: 'Satisfy-Regular';
	src: url("font/Satisfy-Regular.eot");
	src: url("font/Satisfy-Regular.woff") format("woff"), url("font/Satisfy-Regular.ttf") format("truetype"), url("font/Satisfy-Regular.svg#Satisfy-Regular") format("svg");
	src: url("font/Satisfy-Regular.otf");
}

@font-face {
	font-family: 'noddifont';
	src: url("font/noddifont.eot");
	src: url("font/noddifont.eot?#iefix") format("eot"), url("font/noddifont.woff") format("woff"), url("font/noddifont.ttf") format("truetype"), url("font/noddifont.svg#noddifont") format("svg");
}

@font-face {
	font-family: 'Mathlete-Bulky';
	src: url("font/Mathlete-Bulky.eot");
	src: url("font/Mathlete-Bulky.woff") format("woff"), url("font/Mathlete-Bulky.ttf") format("truetype"), url("font/Mathlete-Bulky.svg#Mathlete-Bulky") format("svg");
	src: url("font/Mathlete-Bulky.otf");
}

@font-face {
	font-family: 'Satisfy-Regular';
	src: url("font/Satisfy-Regular.eot");
	src: url("font/Satisfy-Regular.woff") format("woff"), url("font/Satisfy-Regular.ttf") format("truetype"), url("font/Satisfy-Regular.svg#Satisfy-Regular") format("svg");
	src: url("font/Satisfy-Regular.otf");
}

.title,
.page_index section.servicePresentation .presentation h3,
.page_index section.memberType .typeDescription .description h2,
.page_index section.memberType .typeDescription.details .description ul li span,
.page_login .connectSections h2 {
	font-size: 40px;
	font-size: 4rem;
	font-family: 'Satisfy-Regular', Arial, sans-serif;
}

.subtitle,
h2,
footer .socials h3 {
	font-size: 32px;
	font-size: 3.2rem;
	font-family: 'Mathlete-Bulky', Arial, sans-serif;
	font-weight: lighter;
}

.subtitleSmall,
h3,
header.headerPage h2.titlePage {
	font-size: 25px;
	font-size: 2.5rem;
	font-family: Helvetica, Arial, sans-serif;
}

.subtitleMini,
h4,
.page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse .modeuseName,
.page_index section.section_home ul.all_favoris li.modeuse .infoModeuse .modeuseName {
	font-size: 20px;
	font-size: 2rem;
	font-family: Helvetica, Arial, sans-serif;
}

.regularText,
body {
	font-size: 16px;
	font-size: 1.6rem;
	font-family: 'Source Sans Pro', Arial, sans-serif;
}

.showLarge {
	display: none;
}

* {
	box-sizing: border-box;
}

*::-moz-selection {
	background-color: #ed7b6e;
	color: #ffffff;
}

*::selection {
	background-color: #ed7b6e;
	color: #ffffff;
}

html {
	font-size: 62.5%; /* Sets up the Base 10 stuff */
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background: #f6f6f6;
	min-height: 100%;
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.profile_picture {
	width: 130px;
	height: 130px;
	background-size: cover;
	margin: 10px;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 50%;
	margin-bottom: 50px;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1 {
	color: white;
	background-color: #90d6db;
	margin: 0;
	font-size: 1em;
	padding: 10px 0;
	text-align: center;
}

form {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

form label {
	font: 0/0 serif;
	color: transparent;
	text-shadow: none;
}

form label.showLabel {
	font: inherit;
	color: inherit;
	text-shadow: inherit;
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 20px;
	margin: 5px;
	border: solid 3px #c8c7cc;
	background: #ffffff;
	color: #c8c7cc;
	font-weight: bold;
	border-radius: 5px;
}

form input,
form textarea {
	box-sizing: border-box;
	border: solid 1px #aaaaaa;
	padding: 12px 20px;
	outline: none;
	margin-bottom: 15px;
}

form input[type="radio"],
form input[type="checkbox"],
form textarea[type="radio"],
form textarea[type="checkbox"] {
	position: absolute;
	position: absolute;
	top: 0;
	right: 0;
	width: auto;
	opacity: 0;
}

form input[type="radio"]:checked + label,
form input[type="checkbox"]:checked + label,
form textarea[type="radio"]:checked + label,
form textarea[type="checkbox"]:checked + label {
	background: #c8c7cc;
	color: #ffffff;
}

form input[type="radio"]:checked + label:before,
form input[type="checkbox"]:checked + label:before,
form textarea[type="radio"]:checked + label:before,
form textarea[type="checkbox"]:checked + label:before {
	padding-right: 5px;
	width: 10px;
	height: 10px;
	content: "";
	color: #ffffff;
	font-size: 10px;
	font-size: 1rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.checklist,
.radiolist {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	position: relative;
}

.button {
	border-radius: 12px;
	padding: 10px 20px;
	margin: 5px 15px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
	color: #ed7b6e;
	border: solid #ed7b6e 3px;
	background: none;
	display: block;
	outline: none;
}

.button:hover {
	color: #ffffff;
	background: #ed7b6e;
}

.button.reversed {
	border: solid #ed7b6e 3px;
	background: #ed7b6e;
	color: #ffffff;
}

.button.reversed:hover {
	border: solid #aaaaaa 3px;
	background: #aaaaaa;
}

.button.small {
	padding: 5px 10px;
}

.button.dark {
	border-color: #5c5c5c;
	background: #5c5c5c;
	color: #ffffff;
}

.button.dark:hover {
	border-color: #ed7b6e;
	background: none;
	color: #ffffff;
}

#container {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
}

.headerApp {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background: #f6f6f6;
	margin: 0;
}

.headerApp nav#navigation {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 30;
}

.headerApp nav#navigation ul.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.headerApp nav#navigation ul.menu li {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	box-sizing: border-box;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	color: #c8c7cc;
	padding: 10px 5px;
}

.headerApp nav#navigation ul.menu li a {
	font-size: 0.75em;
	text-align: center;
}

.headerApp nav#navigation ul.menu li a:before {
	display: block;
}

.headerApp nav#navigation ul.menu li a.home:before {
	content: "";
	color: #c8c7cc;
	font-size: 25px;
	font-size: 2.5rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.headerApp nav#navigation ul.menu li a.offers:before {
	content: "";
	color: #c8c7cc;
	font-size: 25px;
	font-size: 2.5rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.headerApp nav#navigation ul.menu li a.favs:before {
	content: "";
	color: #c8c7cc;
	font-size: 25px;
	font-size: 2.5rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.headerApp nav#navigation ul.menu li a.messages:before {
	content: "";
	color: #c8c7cc;
	font-size: 25px;
	font-size: 2.5rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.headerApp nav#navigation ul.menu li a.dashboard:before {
	content: "";
	color: #c8c7cc;
	font-size: 25px;
	font-size: 2.5rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.headerApp nav#navigation ul.menu li a.profil:before {
	content: "";
	color: #c8c7cc;
	font-size: 25px;
	font-size: 2.5rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.headerApp nav#navigation ul.menu li.profile_picture {
	display: none;
}

.headerApp nav#navigation ul.menu li.active {
	color: #5fc6ce;
}

.headerApp nav#navigation ul.menu li.active a:before {
	color: #5fc6ce !important;
}

.page {
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding-bottom: 40px;
}

header.headerPage {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

header.headerPage h2.titlePage {
	-webkit-flex: 7;
	-ms-flex: 7;
	flex: 7;
	background: #5fc6ce;
	text-align: center;
	padding: 5px 0;
	margin: 0;
	color: #ffffff;
	font-size: 18px;
	font-size: 1.8rem;
}

header.headerPage .previousStepMenu a {
	font: 0/0 serif;
	color: transparent;
	text-shadow: none;
}

header.headerPage .previousStepMenu:before {
	font: inherit;
	color: inherit;
	text-shadow: inherit;
	content: "";
	color: #c8c7cc;
	font-size: 26px;
	font-size: 2.6rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.fb_button {
	border: solid 4px #2d4373;
	background: #3b5998;
	border-radius: 0;
	color: #ffffff;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0;
	border-radius: 10px;
	padding-right: 20px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.fb_button:before {
	content: "";
	color: #ffffff;
	font-size: 15px;
	font-size: 1.5rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
	margin-right: 10px;
	background-color: #2d4373;
	padding: 20px;
}

.fb_button:hover {
	background-color: #2d4373;
}

/*
*   MESSAGES
*/

.message {
	width: 300px;
	margin: 0 auto;
	border: solid 1px black;
	padding: 10px;
}

.message .message_sender,
.message .message_time {
	display: inline-block;
	vertical-align: top;
}

.blog_selected,
.network_selected,
.section_selected,
.audience_selected {
	background-color: blue;
}

/*
*   LOADER
*/

.rectangle-bounce {
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -40px;
	margin-top: -30px;
	height: 60px;
	width: 80px;
	z-index: 10;
	margin-right: 40px;
	display: inline-block;
	transition: all 0.3s ease-in-out 0s;
	text-align: center;
}

.rectangle-bounce div {
	height: 100%;
	width: 7px;
	margin: 0 3px 0 0;
	background-color: white;
	display: inline-block;
	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out;
}

.rectangle-bounce .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.rectangle-bounce .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.rectangle-bounce .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.rectangle-bounce .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
	width: 100%;
	height: 100%;
}

.loaderIE {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../img/background_loader_IE.png");
	background-repeat: repeat;
	display: none;
}

.loaderIE img {
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	height: 100px;
	width: 100px;
	display: block;
	position: relative;
}

.message.error {
	position: absolute;
	background-color: #f04a10;
	width: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border: none;
	color: #ffffff;
	font-weight: bold;
	transition: opacity transitionLengthDefault transitionTimingDefault;
}

.message.error:after {
	content: "";
	color: #ffffff;
	font-size: 26px;
	font-size: 2.6rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
	padding: 10px 20px;
}

.message.error:hover:after {
	opacity: 0.7;
}

.uploadify-button-text {
	position: relative;
	top: 15px;
	left: -15px;
}

.swfupload {
	position: relative;
	left: 0px;
	top: 0px;
}

.blue_header {
	background-color: #5fc6ce;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: relative;
}

.blue_header .delete {
	position: absolute;
	right: 20px;
	top: 5px;
	cursor: pointer;
}

.blue_header .delete:before {
	content: "";
	color: #ffffff;
	font-size: 26px;
	font-size: 2.6rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.blue_header h2 {
	margin: 0;
	color: white;
	padding-left: 10px;
	display: inline-block;
}

.page_index {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.page_index header.homepage {
	background: url("../img/pictures/cible.jpg") center center;
	background-size: cover;
	padding: 40px;
}

.page_index header.homepage .topMenu {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.page_index header.homepage .topMenu .logo {
	max-width: 200px;
}

.page_index header.homepage .topMenu .logo img {
	max-width: 100%;
	height: auto;
}

.page_index header.homepage .topMenu .button {
	border-color: #ffffff;
	color: #ffffff;
}

.page_index header.homepage .content {
	text-align: center;
}

.page_index header.homepage .content h2 {
	font-size: 35px;
	font-size: 3.5rem;
	color: #ffffff;
}

.page_index header.homepage .content .button {
	display: inline-block;
}

.page_index section.servicePresentation {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	max-width: 1000px;
	margin: auto;
	text-align: center;
	padding: 0 20px;
}

.page_index section.servicePresentation .presentation {
	position: relative;
}

.page_index section.servicePresentation .presentation:before {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: #ed7b6e;
	color: #ffffff;
	position: absolute;
	margin-left: 45%;
	margin-top: 10px;
	z-index: -5;
}

.page_index section.servicePresentation .presentation.free:before {
	content: "";
	color: #ffffff;
	font-size: 30px;
	font-size: 3rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.page_index section.servicePresentation .presentation.simple:before {
	content: "";
	color: #ffffff;
	font-size: 30px;
	font-size: 3rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.page_index section.servicePresentation .presentation.reliable:before {
	content: "";
	color: #ffffff;
	font-size: 30px;
	font-size: 3rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.page_index section.memberType .typeDescription {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 1000px;
	margin: auto;
	padding: 10px;
}

.page_index section.memberType .typeDescription .illustration {
	background: url("../img/pictures/friends.jpg") center center;
	background-size: cover;
	margin-right: 20px;
	-webkit-flex: 10;
	-ms-flex: 10;
	flex: 10;
	min-height: 530px;
}

.page_index section.memberType .typeDescription .illustration.illu1 {
	background: url("../img/pictures/friends.jpg") center center;
}

.page_index section.memberType .typeDescription .illustration.illu2 {
	background: url("../img/pictures/intro.jpg") center center;
}

.page_index section.memberType .typeDescription .illustration.illu3 {
	background: url("../img/pictures/takeAPic.jpg") center center;
}

.page_index section.memberType .typeDescription .illustration.illu4 {
	background: url("../img/pictures/echange.jpg") center center;
}

.page_index section.memberType .typeDescription .description {
	-webkit-flex: 7;
	-ms-flex: 7;
	flex: 7;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	font-size: 20px;
	font-size: 2rem;
}

.page_index section.memberType .typeDescription .description h2 {
	color: #ed7b6e;
	text-align: center;
	margin: 0;
}

.page_index section.memberType .typeDescription.details {
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.page_index section.memberType .typeDescription.details .illustration {
	border: solid 20px #ffffff;
}

.page_index section.memberType .typeDescription.details .description {
	-webkit-flex-direction: column !important;
	-ms-flex-direction: column !important;
	flex-direction: column !important;
	-webkit-align-items: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.page_index section.memberType .typeDescription.details .description ul {
	list-style: none;
}

.page_index section.memberType .typeDescription.details .description ul li span {
	font-size: 50px;
	font-size: 5rem;
	color: #ed7b6e;
	margin-right: 25px;
}

.page_index section.memberType .typeDescription.details .description .button {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
}

.page_index section.memberType.marque h2 {
	color: #aaaaaa !important;
}

.page_index section.memberType.marque ul > li > span {
	color: #aaaaaa !important;
}

.page_index section.section_home {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.page_index section.section_home .myDemandReminder {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.page_index section.section_home .myDemandReminder ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.page_index section.section_home .myDemandReminder ul li {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	padding: 5px 10px;
	margin: 5px;
	background: #5fc6ce;
}

.page_index section.section_home .myDemandReminder ul li:before {
	margin-right: 5px;
	content: "";
	color: #ffffff;
	font-size: 15px;
	font-size: 1.5rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.page_index section.section_home .myDemandReminder ul li.edit {
	background: #ed7b6e;
}

.page_index section.section_home .myDemandReminder ul li.edit:before {
	content: none;
}

.page_index section.section_home ul.list_modeuses,
.page_index section.section_home ul.all_favoris {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	list-style: none;
}

.page_index section.section_home ul.list_modeuses li.modeuse,
.page_index section.section_home ul.all_favoris li.modeuse {
	min-width: 200px;
	max-width: 200px;
	position: relative;
	margin: 10px;
	background: #f6f6f6;
}

.page_index section.section_home ul.list_modeuses li.modeuse .modeusePic,
.page_index section.section_home ul.all_favoris li.modeuse .modeusePic {
	width: 100%;
	background-color: #5fc6ce;
	background-size: cover;
	height: 160px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse,
.page_index section.section_home ul.all_favoris li.modeuse .infoModeuse {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: solid #c8c7cc 1px;
	padding: 5px;
	box-sizing: border-box;
}

.page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse .modeuseName,
.page_index section.section_home ul.all_favoris li.modeuse .infoModeuse .modeuseName {
	font-size: 1.5rem !important;
}

.page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse ul.modeuseStats,
.page_index section.section_home ul.all_favoris li.modeuse .infoModeuse ul.modeuseStats {
	list-style: none;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse ul.modeuseStats li.stat,
.page_index section.section_home ul.all_favoris li.modeuse .infoModeuse ul.modeuseStats li.stat {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: center;
}

.page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse ul.modeuseStats li.stat:before,
.page_index section.section_home ul.all_favoris li.modeuse .infoModeuse ul.modeuseStats li.stat:before {
	position: absolute;
	margin-top: -15px;
	position: relative;
	background-color: grey;
	color: white !important;
	padding: 5px;
	border-radius: 50%;
	margin-right: 10px;
	font-size: 1.5rem !important;
}

.page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse ul.modeuseStats li.stat.facebook:before,
.page_index section.section_home ul.all_favoris li.modeuse .infoModeuse ul.modeuseStats li.stat.facebook:before {
	content: "";
	color: #5fc6ce;
	font-size: 20px;
	font-size: 2rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse ul.modeuseStats li.stat.twitter:before,
.page_index section.section_home ul.all_favoris li.modeuse .infoModeuse ul.modeuseStats li.stat.twitter:before {
	content: "";
	color: #5fc6ce;
	font-size: 20px;
	font-size: 2rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse ul.modeuseStats li.stat.instagram:before,
.page_index section.section_home ul.all_favoris li.modeuse .infoModeuse ul.modeuseStats li.stat.instagram:before {
	content: "";
	color: #5fc6ce;
	font-size: 20px;
	font-size: 2rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse .add_favori:before,
.page_index section.section_home ul.all_favoris li.modeuse .infoModeuse .add_favori:before {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 5px;
	border-top-left-radius: 10px;
}

.page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse .add_favori:before,
.page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse .delete_favori:before,
.page_index section.section_home ul.all_favoris li.modeuse .infoModeuse .add_favori:before,
.page_index section.section_home ul.all_favoris li.modeuse .infoModeuse .delete_favori:before {
	position: absolute;
	content: "";
	color: red;
	font-size: 20px;
	font-size: 2rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse .add_favori.grey:before,
.page_index section.section_home ul.all_favoris li.modeuse .infoModeuse .add_favori.grey:before {
	color: black;
}

.page_index section.section_home ul.list_modeuses li.modeuse .infoModeuse .delete_favori:before,
.page_index section.section_home ul.all_favoris li.modeuse .infoModeuse .delete_favori:before {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 5px;
	border-top-left-radius: 10px;
}

.page_index .letsStart {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: center;
	background-image: url("../img/letstart.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 150px 15px;
	box-sizing: border-box;
}

.page_index .letsStart p {
	color: white;
	font-size: 1.3em;
	font-weight: bold;
}

.page_login {
	background-image: url("../img/pictures/login/connexion-visu.jpg");
	background-size: cover;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.page_login .logo {
	margin: 10px auto;
	max-width: 200px;
}

.page_login .logo img {
	max-width: 100%;
	height: auto;
}

.page_login section.connect {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin: auto;
}

.page_login .connectSections {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin: 10px;
}

.page_login .connectSections h2 {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	margin: 0;
}

.page_login .connectSections.modeuse h2 {
	color: #ed7b6e;
}

.page_login .connectSections.brand h2 {
	color: #5c5c5c;
}

.page_login .connectSections .content {
	padding: 20px;
	background-color: #ffffff;
}

.page_login .connectSections .content button {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: auto;
}

.page_login .connectSections form {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.page_login .connectSections form div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.page_login .connectSections form div input {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.page_login .connectSections form label.displayLabel:before {
	font: inherit;
	color: inherit;
	text-shadow: inherit;
	position: absolute;
	margin: 23px 0px 0 -40px;
}

.page_login .connectSections form label.username:before {
	content: "";
	color: #c8c7cc;
	font-size: 26px;
	font-size: 2.6rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
	padding: 10px;
}

.page_login .connectSections form label.password:before {
	content: "";
	color: #c8c7cc;
	font-size: 26px;
	font-size: 2.6rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
	padding: 10px;
}

.page_signin.modeuse {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.page_signin .createFacebookAccount {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background: url("../img/pictures/login/home_mob-visu1.jpg") top center;
	background-size: cover;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.page_signin .createFacebookAccount .content {
	max-width: 300px;
	margin: auto;
	padding: 0 10px;
}

.page_signin .createFacebookAccount .content h3 {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 20px;
	font-size: 2rem;
	font-weight: normal;
}

.page_signin .createFacebookAccount .content p {
	color: #ffffff;
}

.page_signin .inscriptionVisu {
	background: url("../img/pictures/login/lunettesGal.jpg") center center;
	background-size: cover;
	min-height: 200px;
}

.page_signin .inscriptionVisu.inscriptionBrand {
	background: url("../img/pictures/login/inscriptionMarque.jpg") center center;
}

.page_signin .inscriptionType {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 30px;
}

.page_signin .stepsSignIn {
	position: relative;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	max-width: 250px;
	margin: 0 auto;
}

.page_signin .stepsSignIn ul {
	min-width: 200px;
	width: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: auto;
	margin-top: -15px;
	padding: 0;
}

.page_signin .stepsSignIn ul li {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	border-radius: 18px;
	border: solid 3px #ed7b6e;
	text-align: center;
	list-style: none;
	color: #ed7b6e;
	background: #ffffff;
	font-weight: bold;
}

.page_signin .stepsSignIn ul li.active {
	color: #ffffff;
	background: #ed7b6e;
}

.page_signin .stepsSignIn ul li:after {
	width: 50px;
	height: 1px;
	background: #aaaaaa;
	display: block;
}

.page_signin .formBrand,
.page_signin .formModeuse {
	margin: 20px 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	border-top: solid 1px #aaaaaa;
	border-bottom: solid 1px #aaaaaa;
}

.page_signin .formBrand > div,
.page_signin .formModeuse > div {
	width: 100%;
	max-width: 500px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-top: 20px;
	background-color: #ffffff;
	padding: 10px;
}

.page_signin .formBrand > div.form_brand_two .get_form_brand_three,
.page_signin .formBrand > div.form_brand_two .get_form_brand_four,
.page_signin .formBrand > div.form_brand_two .form_brand_four > button,
.page_signin .formModeuse > div.form_brand_two .get_form_brand_three,
.page_signin .formModeuse > div.form_brand_two .get_form_brand_four,
.page_signin .formModeuse > div.form_brand_two .form_brand_four > button {
	margin: 20px;
}

.page_signin .formBrand input,
.page_signin .formBrand textarea,
.page_signin .formModeuse input,
.page_signin .formModeuse textarea {
	width: 100%;
	resize: none;
	margin-bottom: 0;
	border: none;
	border-bottom: solid 1px #c8c7cc;
	background: #ffffff;
}

.page_signin .formBrand input#description,
.page_signin .formBrand textarea#description,
.page_signin .formModeuse input#description,
.page_signin .formModeuse textarea#description {
	min-height: 100px;
	border: solid 1px #c8c7cc;
}

.page_signin .formBrand label.displayLabel:before,
.page_signin .formModeuse label.displayLabel:before {
	font: inherit;
	color: inherit;
	text-shadow: inherit;
	position: absolute;
	margin: 23px 0px 0 -40px;
}

.page_signin .formBrand label.instagramUsername:before,
.page_signin .formModeuse label.instagramUsername:before {
	content: "";
	color: #c8c7cc;
	font-size: 26px;
	font-size: 2.6rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.page_signin .formBrand label.twitterUsername:before,
.page_signin .formModeuse label.twitterUsername:before {
	content: "";
	color: #c8c7cc;
	font-size: 26px;
	font-size: 2.6rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.page_signin .formBrand label.email:before,
.page_signin .formModeuse label.email:before {
	content: "";
	color: #c8c7cc;
	font-size: 26px;
	font-size: 2.6rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.page_signin .formBrand label.firstname:before,
.page_signin .formModeuse label.firstname:before {
	content: "";
	color: #c8c7cc;
	font-size: 26px;
	font-size: 2.6rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.page_signin .formBrand label.city:before,
.page_signin .formModeuse label.city:before {
	content: "";
	color: #c8c7cc;
	font-size: 26px;
	font-size: 2.6rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.page_signin .formBrand label.password:before,
.page_signin .formModeuse label.password:before {
	content: "";
	color: #c8c7cc;
	font-size: 26px;
	font-size: 2.6rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.page_signin .formBrand label.store:before,
.page_signin .formModeuse label.store:before {
	content: "";
	color: #c8c7cc;
	font-size: 26px;
	font-size: 2.6rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.page_signin .formBrand label.website:before,
.page_signin .formModeuse label.website:before {
	content: "";
	color: #c8c7cc;
	font-size: 26px;
	font-size: 2.6rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.page_signin .formBrand .rowInput,
.page_signin .formModeuse .rowInput {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.page_signin .formBrand .rowInput div,
.page_signin .formModeuse .rowInput div {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.page_signin .formBrand ul.select_activities,
.page_signin .formModeuse ul.select_activities {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.page_signin .formBrand ul.select_activities li,
.page_signin .formModeuse ul.select_activities li {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: 100px;
	border-radius: 0;
}

.page_signin .formBrand ul.select_activities li.button_selected,
.page_signin .formModeuse ul.select_activities li.button_selected {
	background: #ed7b6e;
}

.page_signin .formBrand .checklist,
.page_signin .formModeuse .checklist {
	margin: 10px 0 20px 0;
}

.offsetForm {
	padding-left: 50px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.sentenceSelect {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-items: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 20px 0px;
}

.sentenceSelect p {
	margin: 3px 5px;
}

.sentenceSelect select {
	-webkit-flex: flex-grow;
	-ms-flex: flex-grow;
	flex: flex-grow;
	border: none;
	color: #ed7b6e;
	font-weight: bold;
	background: none;
	font-size: 20px;
	font-size: 2rem;
	margin: 0 5px;
	outline: none;
}

.sentenceSelect select option {
	border: none;
}

footer {
	background: #5fc6ce;
	text-align: center;
	padding-bottom: 90px;
}

footer .socials {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-align-items: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	padding: 0 10px;
	max-width: 400px;
	margin: auto;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background: #5fc6ce;
}

footer .socials h3 {
	font-size: 40px;
	font-size: 4rem;
	margin: 10px 0;
}

footer .socials ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0;
	max-width: 320px;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

footer .socials ul li {
	font: 0/0 serif;
	color: transparent;
	text-shadow: none;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	list-style: none;
	width: 40px;
	height: 40px;
	background: #ffffff;
	border-radius: 20px;
	transition: background-color 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

footer .socials ul li a {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
	margin: auto;
}

footer .socials ul li.facebook:hover {
	background: #3b5998;
}

footer .socials ul li.facebook a:before {
	content: "";
	color: #5fc6ce;
	font-size: 20px;
	font-size: 2rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

footer .socials ul li.twitter:hover {
	background: #55acee;
}

footer .socials ul li.twitter a:before {
	content: "";
	color: #5fc6ce;
	font-size: 20px;
	font-size: 2rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

footer .socials ul li.instagram:hover {
	background: #3f729b;
}

footer .socials ul li.instagram a:before {
	content: "";
	color: #5fc6ce;
	font-size: 20px;
	font-size: 2rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

footer .socials ul li.snapchat:hover {
	background: #fffc00;
}

footer .socials ul li.snapchat a:before {
	content: "";
	color: #5fc6ce;
	font-size: 20px;
	font-size: 2rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

footer .socials ul li.pinterest:hover {
	background: #cc2127;
}

footer .socials ul li.pinterest a:before {
	content: "";
	color: #5fc6ce;
	font-size: 20px;
	font-size: 2rem;
	font-family: "noddifont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

footer ul > li {
	display: inline-block;
}

footer ul > li:nth-child(n+2):before {
	content: " | ";
}

footer ul > li a {
	color: #ffffff;
}

footer ul > li a:hover {
	text-decoration: underline;
}

.page_account {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.page_account header.globalInfo {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.page_account header.globalInfo img {
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
}

.page_account header.globalInfo .contentInfos {
	-webkit-flex: 4;
	-ms-flex: 4;
	flex: 4;
}

.page_account header.globalInfo .notifications {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

article.proposition {
	background: #ffffff;
	border: solid 1px #c8c7cc;
	border-radius: 10px;
	max-width: 500px;
	margin: 0 auto;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
}

article.proposition h2 {
	margin: 0;
}

article.proposition .content {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

article.proposition .content img {
	width: 100%;
	max-width: 150px;
	height: auto;
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
	height: auto;
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
	border-bottom-left-radius: 10px;
}

article.proposition .content .proposition_content {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding-left: 30px;
	max-height: 150px;
}

article.proposition .content .proposition_content p {
	font-weight: normal;
}

article.proposition .content .proposition_content p.type {
	font-size: 16px;
	font-size: 1.6rem;
}

article.proposition .content .proposition_content p.status {
	padding-top: 20px;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	border-top: solid 1px #c8c7cc;
	font-size: 14px;
	font-size: 1.4rem;
}

article.proposition .notifOffer {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #f04a10;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: -10px -10px 0 0;
	color: #ffffff;
	font-weight: bold;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.propositions {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 30px;
}

.proposition_sent {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background: #ffffff;
	max-width: 150px;
	margin: 0 5px;
}

.proposition_sent img {
	width: 100%;
	max-width: 150px;
	height: auto;
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
}

.proposition_received {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background: #ffffff;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.proposition_received .profile_picture {
	width: 70px;
	height: 70px;
}

.proposition_received footer .accept {
	background: #ed7b6e;
}

.proposition_received footer .decline {
	background: #5fc6ce;
}

footer.footerLinks {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	max-width: 500px;
	margin: auto;
	background: none;
}

.page_offers .formCreateOffer {
	max-width: 500px;
	margin: auto;
	padding: 15px;
}

.page_offers .formCreateOffer button {
	width: 100%;
}

.page_offers .regularCheckbox {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}

.page_offers .regularCheckbox input[type="checkbox"] {
	display: block;
	opacity: 1;
	position: relative;
	margin-right: 15px;
}

.page_offers .regularCheckbox input[type="checkbox"]:checked + label {
	background: none !important;
}

.page_offers .regularCheckbox input[type="checkbox"]:checked + label:before {
	content: none !important;
}

.page_offers .regularCheckbox label.allowContact {
	font: inherit;
	color: inherit;
	text-shadow: inherit;
}

.page_offers .flexInput {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	max-width: 300px;
	margin: auto;
}

.page_offers .flexInput .style_input.select {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin: 10px 5px;
}

.page_offers .flexInput select {
	width: 100%;
	height: 40px;
	border-radius: 12px;
}

@media (min-width: 500px) {

.showLarge {
	display: inherit;
}

body {
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.headerApp nav#navigation {
	position: relative;
	background-color: #5fc6ce;
}

.headerApp nav#navigation ul.menu {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.headerApp nav#navigation ul.menu li {
	color: #ffffff;
	background-color: #5fc6ce;
	padding: 0;
	text-align: center;
	position: relative;
	-webkit-justify-content: left !important;
	-ms-flex-pack: left !important;
	justify-content: left !important;
}

.headerApp nav#navigation ul.menu li.profile_picture {
	display: block;
}

.headerApp nav#navigation ul.menu li a {
	color: white;
	padding: 20px;
	font-weight: bold;
}

.headerApp nav#navigation ul.menu li a:before {
	position: absolute;
	top: 15px;
	left: 13px;
	color: white !important;
}

.headerApp nav#navigation ul.menu li:hover {
	background-color: #37abb4;
}

.headerApp nav#navigation ul.menu li.profile_picture:hover {
	background-color: transparent;
}

.headerApp nav#navigation ul.menu li.active {
	background-color: #37abb4;
}

.headerApp nav#navigation ul.menu li.active a:before {
	color: white !important;
}

.page {
	padding-bottom: 0;
}

header.headerPage h2.titlePage {
	color: #000000;
	background: none;
}

.page_index section.servicePresentation {
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.page_index section.servicePresentation .presentation:before {
	z-index: 5;
	margin-top: -20px;
}

.page_index section.memberType .typeDescription .description {
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.page_index section.memberType .typeDescription .description h2 {
	position: absolute;
	font-size: 80px;
	font-size: 8rem;
	margin-left: -50px;
}

.page_index section.memberType .typeDescription .description h2:first-letter {
	font-size: 150px;
	font-size: 15rem;
}

.page_index section.memberType .typeDescription .description p {
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	margin-left: 80px;
	margin-bottom: 160px;
}

.page_index section.memberType .typeDescription.details {
	margin-top: -170px;
}

.page_index section.section_home ul.list_modeuses li.modeuse,
.page_index section.section_home ul.all_favoris li.modeuse {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

footer {
	padding-bottom: 0;
}

footer .socials {
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	max-width: 800px;
}

}

@-webkit-keyframes stretchdelay {

0%,40%,100% {
	-webkit-transform: scaleY(0.4);
}

20% {
	-webkit-transform: scaleY(1);
}

}

@keyframes stretchdelay {

0%,40%,100% {
	transform: scaleY(0.4);
	-webkit-transform: scaleY(0.4);
}

20% {
	transform: scaleY(1);
	-webkit-transform: scaleY(1);
}

}

