
//DASHBOARD

article.proposition {
	background: $white;
	border: solid 1px $grey;
	border-radius: 10px;
    //padding: 10px;
    max-width: 500px;
    width: 100%;
    // max-height: 150px;
    margin: 0 auto;
    flex:1;
    position: relative;
    h2{
    	margin: 0;
    }
	.content{
		display: flex;
		border-bottom-left-radius: 10px;
    	border-bottom-right-radius: 10px;
		img{
		  	width: 100%;
		  	max-width: 150px;
			height: auto;
			flex:2;
			height:auto;
			align-self: flex-start;
			border-bottom-left-radius: 10px;
		}
		.proposition_content{
			display: flex;
			flex-direction: column;
		  	flex: 1;
			padding-left: 30px;
			 max-height: 150px;
			p{
				font-weight: normal;
				&.type{
					@include font-size(1.6);
				}
				&.status{
					padding-top: 20px;
					justify-content: space-around;
					border-top: solid 1px $grey;
					@include font-size(1.4);
				}

			}
		}
		// footer{
		// 	flex:1;
		// 	.edit{
		// 		background: $primary;
		// 	}
		// 	.delete{
		// 		background: $secondary;
		// 	}
		// }
		// .borderTop {
		// 	border-top: solid 1px $grey;
		// 	padding-top: 5px;
		// 	width: 150px;
		// }
	}
	.notifOffer{
		position: absolute;
		top: 0;
		right: 0;
		background-color: $error;
		width: 30px;
		height: 30px;
		border-radius: 15px;
		display: flex;
		justify-content: center;
		margin: -10px -10px 0 0;
		color: $white;
		font-weight: bold;
		align-items: center;
	}
}
.propositions{
	display: flex;
	flex-direction: column;
	margin: 30px;
}
.proposition_sent {
	display: flex;
	flex-direction: column;
	background: $white;
    max-width: 150px;
    margin: 0 5px;
	img{
		width: 100%;
		max-width: 150px;
		height: auto;
		align-self: flex-start;
	}
    div {
    	
    }
}

.proposition_received{

	display: flex;
	background: $white;
	justify-content: center;
	max-width: 500px;
	margin: 0 auto;

	.profile_picture {
		width: 100px;
		height: 100px;
	}

	p {
		margin-right: 15px;
		text-align: center;
	}
	footer{
		background: none;
	}
}

footer.footerLinks{
	display: flex;
	max-width: 500px;
	margin: auto;
	background: none;
}

.page_dashboard{	

}






// .proposition_received {
	
//     padding: 10px;
//     width: 90%;
//     max-width: 300px;
//     margin: 0 auto;
// 	p{
// 		margin: 0 10px;
// 	}
//     .buttons {
//         .button {
//             display: inline-block;
//             vertical-align: top;
//         }
//     }
// }