
//FOOTER

footer{
    background: $secondary;
    text-align: center;
    padding-bottom: 90px; //laisser depasser le footer sous le mneu
    @media (min-width: $tablet) {
        padding-bottom: 0;
    }

    .socials{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        align-items: baseline;
        padding: 0 10px;
        max-width: 400px;
        margin: auto;
        align-items: center;
        background: $secondary;
        @media (min-width: $tablet) {
            flex-direction: row;
            max-width: 800px;
        }
        h3{
            @extend .subtitle;
            @include font-size(4);
            margin: 10px 0;
        }
        ul{ 
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 0;
            max-width: 320px;
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            li{
                @include hide-text();
                display: flex;
                flex-direction: row;
                list-style: none;
                width: 40px;
                height: 40px;
                background: $white;
                border-radius: 20px;
                transition: background-color $transitionLengthDefault $transitionTimingDefault,
                            font-size $transitionLengthDefault $transitionTimingDefault;

                & a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    margin: auto;
                    padding: 10px;
                    transition: 0.4s;
                    @media (min-width: $tablet) {
                        &:hover {
                            text-decoration: none;
                            transform: rotate(360deg);

                            &:before {
                               color: white !important;
                            }
                        }
                    }
                }
                

                &.facebook {
                    @media (min-width: $tablet) {
                        &:hover{
                            background: #3b5998;
                        }
                    }
                    a:before{
                        @include noddifont($facebook, $secondary, 2);
                    }
                }
                &.twitter {
                    @media (min-width: $tablet) {
                        &:hover{
                            background: #55acee;
                        }
                    }
                    a:before{
                        @include noddifont($twitter, $secondary, 2);
                    }
                }
                &.instagram {
                    @media (min-width: $tablet) {
                        &:hover{
                            background: #3f729b;
                        }
                    }
                    a:before{
                        @include noddifont($instagram, $secondary, 2);
                    }
                }
                &.snapchat {
                    @media (min-width: $tablet) {
                        &:hover{
                            background: #fffc00;
                        }
                    }
                    a:before{
                        @include noddifont($snapchat, $secondary, 2);
                    }
                }
                &.pinterest {
                    @media (min-width: $tablet) {
                        &:hover{
                            background: #cc2127;
                        }
                    }
                    a:before{
                        @include noddifont($pinterest, $secondary, 2);
                    }
                }
                &.emptyFacebook{
                    @include noddifont($emptyFb, $secondary, 2);
                }
                &.emptyInstagram{
                    @include noddifont($emptyInsta, $secondary, 2);
                }
                &.emptyPinterest{
                    @include noddifont($emptyPin, $secondary, 2);
                }
                &.emptySnapchat{
                    @include noddifont($emptySnap, $secondary, 2);
                }
                &.emptySnapchat{
                    @include noddifont($emptySnap, $secondary, 2);
                }
            }
            
        }
    }
    
    //bottom links

    ul>li{
        display: inline-block;
        &:nth-child(n+2){
            &:before{
                content:" | ";
            }
        }
        a{
            color: $white;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}