
//PAGE INDEX
.page_index {
    display: flex;
    flex-direction: column;
    header.homepage { // Not connected
        background:url('../img/pictures/cible.jpg') center center;
        background-size:cover;
        padding:40px;
        .topMenu {
            display:flex;
            justify-content:space-between;
            align-items:center;

            .logo {
                max-width:200px;
                img {
                    max-width:100%;
                    height:auto;
                }
            }
            .button {
                border-color:$white;
                color:$white;
            }
        }
        .content {
            text-align:center;
            h2 {
                @include font-size(3.5);
                color:$white;
            }
            .button{
                display: inline-block;
            }
        }
    }
    section.servicePresentation {
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        max-width:1000px;
        margin:auto;
        text-align:center;
        padding:0 20px;
        @media (min-width: $tablet) {
            flex-direction:row;
        }
        .presentation {
            position:relative;

            h3 {
                @extend .title;
            }
            &:before {
                display:flex;
                align-items:center;
                justify-content:center;
                width:50px;
                height:50px;
                border-radius:25px;
                background:$primary;
                color:$white;
                position:absolute;
                margin-left:45%;
                margin-top: 10px;
                z-index: -5;
                @media (min-width: $tablet) {
                    z-index: 5;
                        margin-top:-20px;
                }
            }
            &.free:before {
                @include noddifont($twitter, $white, 3);
            }
            &.simple:before {
                @include noddifont($twitter, $white, 3);
            }
            &.reliable:before {
                @include noddifont($twitter, $white, 3);
            }
        }
    }

    section.memberType {
        .typeDescription {
            display:flex;
            flex-direction:row;
            justify-content:space-between;
            max-width:1000px;
            margin:auto;
            padding:10px;
            .illustration {
                background:url('../img/pictures/friends.jpg') center center;
                background-size:cover;
                margin-right:20px;
                flex:10;
                min-height:530px;
                &.illu1{background:url('../img/pictures/friends.jpg') center center;}
                &.illu2{background:url('../img/pictures/intro.jpg') center center;}
                &.illu3{background:url('../img/pictures/takeAPic.jpg') center center;}
                &.illu4{background:url('../img/pictures/echange.jpg') center center;}
            }
            .description {
                flex:7;
                display:flex;
                flex-direction:column;
                position:relative;
                @include font-size(2);
                @media (min-width: $tablet) {
                    flex-direction:row;
                }
                h2 {
                    @extend .title;
                    color:$primary;
                    text-align:center;
                    margin:0;
                    @media (min-width: $tablet) {
                        position:absolute;
                        @include font-size(8);
                        margin-left:-50px;
                        &:first-letter {
                            @include font-size(15);
                        }
                    }
                }
                p {
                    @media (min-width: $tablet) {
                        align-self:flex-end;
                        margin-left:80px;
                        margin-bottom:160px;
                    }
                }
            }

            &.details{  // 1. 2. 3.  2nd image / / details typeDescription
                flex-direction: row-reverse;
                @media (min-width: $tablet) {
                    margin-top: -170px;
                }
                .illustration{
                      border: solid 20px $white;
                }
                .description{
                    flex-direction: column!important;
                    align-items: baseline;
                    justify-content: flex-end;
                    display: flex;
                    flex-direction: column;
                    ul{
                        list-style: none;
                        li{
                            span{
                                @extend .title;
                                @include font-size(5);
                                color: $primary;
                                margin-right: 25px;
                            }
                        }
                    }
                    .button{
                        align-self: center;
                    }
                }
            }
        }
        
        &.marque {
            h2{
                color: $tertiary!important ;
            }
            ul>li>span {
                color: $tertiary!important ;
            }
        }
    }

    // When logged in
    section.section_home{
        display: flex;
        flex-direction: column;
        .myDemandReminder{
            flex-direction: column;
            ul{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                flex-wrap: wrap;
                li{
                    display: flex;
                    align-items: flex-end;
                    padding: 5px 10px;
                    margin: 5px;
                    background: $secondary;
                    &:before{
                        margin-right: 5px;
                        @include noddifont($tag, $white, 1.5);
                    }
                    &.edit{
                        background: $primary;
                        &:before{content: none;}
                    }
                }
            }
        }
        ul.list_modeuses, ul.all_favoris {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
            li.modeuse{
                min-width: 150px;
                min-height: 150px;
                max-width: 300px;
                margin: 10px;
                background: $lightGrey;
                @media (min-width: $tablet) {
                    flex:1;
                }
                img.modeusePic{
                    width: 100%;
                    background: $secondary;
                }
                .infoModeuse{
                    .modeuseName{
                        @extend .subtitleMini;
                    }
                    ul.modeuseStats{
                        list-style: none;
                        display: flex;
                        li.stat{
                            flex:1;
                            text-align: center;
                            &:before{position: absolute; margin-top: -15px;}
                            &.facebook:before{ @include noddifont($facebook, $secondary, 2);}
                            &.twitter:before{@include noddifont($twitter, $secondary, 2);}
                            &.instagram:before{@include noddifont($instagram, $secondary, 2);}
                        }

                    }
                    .add_favori:before, .delete_favori:before{
                        position: absolute;
                        @include noddifont($fav, red, 2);
                    }
                }
            }
        }
    }


    .letsStart{
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
        background-image: url('../img/letstart.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 150px 15px;
        box-sizing: border-box;

        p {
            color: white;
            font-size:  1.3em;
            font-weight: bold;
        }
    }

}