
//PAGE INDEX
.page_index, .page_offers {
    display: flex;
    flex-direction: column;
    header.homepage { // Not connected
        background:url('../img/pictures/home_desktop-visu1.jpg') center center;
        background-size:cover;
        padding:40px;
        @media (min-width: $tablet) {
            min-height: 500px;
        }

        .arrow_bottom {
            display: block;
            margin-top: 35px;

            &:before {
                content: '';
                display: block;
                width: 75px;
                height: 41px;
                background-image: url('../img/arrow.png');
                background-repeat: no-repeat;
                margin: 0 auto;
            }            

            @media (min-width: $tablet) {
                display: none;
            }
        }

        .topMenu {
            display:flex;
            justify-content:space-between;
            align-items:center;
            flex-direction: column;
            margin: 60px 0 0 0;

            @media (min-width: $tablet) {
                flex-direction: row;
                margin: 0;
            }

            .logo {
                max-width:200px;
                img {
                    max-width:100%;
                    height:auto;
                }
            }
            .button {
                border-color:$white;
                color:$white;
                position: absolute;
                top: 15px;
                right: 12px;
                
                @media (min-width: $tablet) {
                    position: relative;
                    top: 0;
                    left: 0;
                }
            }
        }
        .content {
            text-align:center;
            @media (min-width: $tablet) {
                margin-top: 200px;
            }
            h2 {
                @include font-size(3.5);
                color:$white;
            }
            .button{
                border-radius: 4px;
                width: 100%;
                max-width: 240px;
                display: inline-block;

                &+.button {
                    margin-top: 20px;
                }

                @media (min-width: $tablet) {
                    &+.button {
                        margin-top: 0;
                    }
                }
            }
        }
    }
    section.servicePresentation {
        display:none;
        flex-direction:column;
        justify-content:space-around;
        max-width:1000px;
        margin:auto;
        text-align:center;
        padding:0 20px;
        width: 100%;
        margin-bottom: 20px;
        align-items: center;
        @media (min-width: $tablet) {
            flex-direction:row;
            display: flex;
        }
        .presentation {
            position:relative;
            flex:1;
            max-width: 250px;
            h3 {
                @extend .title;
                color: $black;
                margin-bottom: 0;
                @media (min-width: $tablet) {
                    color:$primary;
                }
            }
            &:before {
                display:flex;
                align-items:center;
                justify-content:center;
                width:50px;
                height:50px;
                border-radius:25px;
                background:$primary;
                color:$white;
                position:absolute;
                z-index: -5;
                right: 0;
                left: 0;
                margin:auto;
                margin-top: 10px;
                @media (min-width: $tablet) {
                    z-index: 5;
                    margin-top:-20px;
                    background:$secondary;
                }
            }
            &.free:before {
                @include noddifont($pieces, $white, 4);
            }
            &.simple:before {
                @include noddifont($flash, $white, 3);
            }
            &.reliable:before {
                @include noddifont($thumb, $white, 4);
            }
        }
    }

    section.memberType {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        height: 600px;

        &.brand {
            background-image: url('../img/pictures/home_desktop-visu3.jpg');
            background-position: 35% 50%;
            @media (min-width: $tablet) {
                background-position: 50% 50%;
            }
        }

        &.modeuse {
            background-image: url('../img/pictures/home_desktop-visu2.jpg');
            background-position: 1% 50%;
            @media (min-width: $tablet) {
                background-position: 50% 50%;
            }
        }

        .content{
        display: flex;
        min-height: 400px;
        max-width: 1000px;
        margin: auto;
        padding: 20px;
            .citation{
                display: none;
                @media (min-width: $tablet) {
                    display: flex;
                    align-items: flex-end;
                    flex:5
                }
                blockquote.quote{
                    background-color: rgba(95,198,206,0.9);
                    padding: 30px 40px;
                    margin-bottom: 0px;
                    p{
                        margin:0;
                        color: $white;
                        padding: 20px;
                        position: relative;
                        &:before,
                        &:after{
                            @include noddifont($quote, $white, 3);
                            @include font-size(5);
                            display: inline-block;
                            position: absolute;
                        }
                        &:after{
                            transform: rotateY(180deg);
                            margin-top: -5px;
                            right: 0;
                        }
                        &:before{
                            margin: -40px 0 0 -20px;
                        }
                    }
                }
            }
            .description{
                display: flex;
                flex:3;
                flex-direction: column;
                justify-content: flex-end;
                position: relative;

                margin-top: 110px;

                @media (min-width: $tablet) {
                    margin-top: 0;
                }

                h2{
                    @extend .title;
                    @include font-size(15);
                    & small {
                        @include font-size(7);
                    }
                    color: $white;
                    margin: 0;
                    margin-left: 15px;
                    @media (min-width: $tablet) {
                        @include font-size(12);
                        position: absolute;
                        top: 0;
                        margin-left: -50px;
                        margin-top: -30px;
                        & small{
                            @include font-size(7);
                        }
                    } 
                }
                p{
                    color: $white;
                    @media (min-width: $tablet) {
                        padding-top: 100px
                    }
                }
                ul{
                    display: none;
                    @media (min-width: $tablet) {
                        display: block
                    }
                    margin:0 0 15px 30px;
                    li{
                        padding: 10px 0;
                        margin-top: 10px;
                        color: $white;
                        &:before{
                            position: absolute;
                            margin-left: -30px;
                        }
                        &.offerPerso:before{
                            @include noddifont($face, $white, 2);
                        }
                        &.fav:before{
                            @include noddifont($fav, $white, 2);
                        }
                        &.phone:before{
                            @include noddifont($phone, $white, 2);
                        }
                        &.hands:before{
                            @include noddifont($hands, $white, 2);
                        }
                        &.shoes:before{
                            @include noddifont($shoes, $white, 2);
                        }
                        &.star:before{
                            @include noddifont($star, $white, 2);
                        }
                    }
                }
                .button{
                    width: 100%;
                    max-width: 280px;
                    border-radius: 4px;
                    @media (min-width: $tablet) {
                        max-width: 200px;
                        border-radius: 10px;
                    }
                }
            }
        }
    }

    footer{
        display: flex;
        min-height: 500px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url('../img/pictures/home_desktop-visu4.jpg');
        .content{
            margin: auto;   
        }

        ul {
            li a:before{
                color: $grey !important;
                font-size: 2.6rem !important;
                position: relative;
                left: -3px;
            }
        }

        .socials{
            background: none;margin-bottom: 70px;
            h3{
                color: $white;
            }
            flex-direction: column;
        }
        
        small {
            color: $white;
        }
    }

    // When logged in
    section.section_home{
        display: flex;
        flex-direction: column;
        .myDemandReminder{
            flex-direction: column;
            ul{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                flex-wrap: wrap;
                li{
                    display: flex;
                    align-items: flex-end;
                    padding: 5px 10px;
                    margin: 5px;
                    background: $grey;
                    border-radius: $borderDefault;
                    &:before{
                        margin-right: 5px;
                        @include noddifont($tag, $white, 1.5);
                    }
                    &.edit{
                        background: $primary;
                        &:before{content: none;}
                    }
                }
            }
        }
        ul.list_modeuses, ul.all_favoris, ul.all_offers {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
            li.modeuse{
                max-width: 300px;
                width: 250px;
                position: relative;
                margin: 10px;
                background: $white;
                @media (min-width: $tablet) {
                    // flex:1;
                }
                .modeusePic{
                    width: 100%;
                    background-color: $secondary;
                    background-size: cover;
                    background-position: center; 
                    height: 160px;;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
                .infoModeuse{
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    border: solid $grey 1px;
                    padding: 5px;
                    box-sizing: border-box;

                    .modeuseName{
                        @extend .subtitleMini;
                        font-size: 1.5rem !important;
                    }
                    ul.modeuseStats{
                        list-style: none;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                        li.stat{
                            // flex:1;
                            text-align: center;
                            &:before{
                                position: absolute; 
                                margin-top: -15px;
                                position: relative; 
                                background-color: grey;
                                color: white !important;
                                padding: 5px;
                                border-radius: 50%;
                                margin-right: 10px;
                                font-size: 1.5rem !important;
                            }
                            &.facebook:before{ @include noddifont($facebook, $secondary, 2);}
                            &.twitter:before{@include noddifont($twitter, $secondary, 2);}
                            &.instagram:before{@include noddifont($instagram, $secondary, 2);}
                        }
                    }

                    &.infoOffer {
                        text-align: center;
                        
                        .offer_icon {
                            text-align: center;

                            &:before {
                                padding-right: 10px;
                                position: relative;
                                top: 2px;
                            }

                            span {
                                width: 100px;
                                display: inline-block;
                                vertical-align: top;
                            }
                        }

                        .offer_lifestyle {
                            &:before {
                                @include noddifont($shoes, $secondary, 2);
                            }
                        }
                        .offer_personnality {
                            &:before {
                                @include noddifont($face, $secondary, 2);
                            }
                        }
                        .offer_exchange {
                            &:before {
                                @include noddifont($hands, $secondary, 2);
                            }
                        }
                    }

                    .add_favori:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: rgba(255,255,255,0.8);
                        padding: 5px;
                        border-top-left-radius: 10px;
                    }
                    .add_favori:before, .delete_favori:before{
                        position: absolute;
                        @include noddifont($fav, red, 2);
                    }
                    .add_favori.grey:before{
                        color: black;
                        //border: 2px solid white;
                    }
                    .delete_favori {
                        &:before {
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: rgba(255,255,255,0.8);
                            padding: 5px;
                            border-top-left-radius: 10px;
                        }
                    }
                }
            }
        }
    }


    .letsStart{
        display: flex;
        flex-direction: column;
        flex:1;
        text-align: center;
        // background-image: url('../img/letstart.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 150px 15px;
        box-sizing: border-box;
        max-width: 500px;
        margin: auto;

        p {
            color: $quaternary;
            font-size:  1.3em;
            font-weight: bold;
        }
    }

}