


// PAGE LOGIN
.page_login {
    background-image: url('../img/pictures/login/connexion-visu.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    .logo {
        margin:10px auto;
        max-width:200px;
        img {
            max-width:100%;
            height:auto;
        }
    }
    section.connect{
        flex:1;
        margin: auto;
    }
    .connectSections {
        flex:1;
        // max-width:500px;
        margin:10px;
        h2{
            @extend .title;
            background-color: rgba(255,255,255,0.8);
            text-align: center;
            margin: 0;
        }
        &.modeuse h2 {
            color: $primary;
        }
        &.brand h2 {
            color: $quaternary;
        }
        .content{
            padding: 20px;
            background-color: $white;
            button{
                display: flex;
                align-items: center;
                margin: auto;
            }
        }
        form {
            // background-color: $white;
            display:flex;
            div {
                display:flex;
                input {
                    flex:1;
                }
            }
            label{
                &.displayLabel:before{
                    @include show-text();
                    position: absolute;
                    margin: 23px 0px 0 -40px;
                }
                &.username:before{
                    @include noddifont($user, $grey, 2.6);
                    padding: 10px;
                }
                &.password:before{
                    @include noddifont($lock, $grey, 2.6);
                    padding: 10px;
                }
            }
        }
    }
}


//PAGE SIGNIN
.page_signin {
    &.modeuse{
        display: flex;
        flex-direction: column;
    }
    .createFacebookAccount{
        display: flex;
        background: url('../img/pictures/login/home_mob-visu1.jpg') top center;
        background-size: cover;
        flex-grow: 1;
        .content{
            max-width: 300px;
            margin: auto;
            padding: 0 10px;
            h3{
                color: $white;
                text-transform: uppercase;
                @include font-size(2);
                font-weight: normal;
            }
            p{
                color: $white;
            }
        }
        }
    .inscriptionVisu{
        background: url('../img/pictures/login/lunettesGal.jpg') center center;
        background-size: cover;
        min-height: 200px;
        &.inscriptionBrand{
            background: url('../img/pictures/login/inscriptionMarque.jpg') center center;
        }

    }
    .inscriptionType {
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:center;
        margin-top:30px;
    }

    .stepsSignIn {
        position:relative;
        align-self: center;
        max-width:250px;
        margin: 0 auto; //inscr brand
        ul {
            min-width: 200px;
            width:100%;
            // position:absolute;
            display:flex;
            justify-content:space-between;
            margin:auto;
            margin-top: -15px;
            padding:0;

            li {
                display:flex;
                align-items:center;
                justify-content:center;
                width: 36px;
                height: 36px;
                border-radius: 18px;
                border:solid 3px $primary;
                text-align:center;
                list-style:none;
                // transform:rotate(45deg);
                color:$primary;
                background:$white;
                font-weight: bold;
                &.active {
                    color: $white;
                    background:$primary;
                }
                &:after {
                    width:50px;
                    height:1px;
                    background:$tertiary;
                    display:block;
                }
            }
        }
    }
    .formBrand, .formModeuse {
        margin:20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: solid 1px $tertiary;
        border-bottom: solid 1px $tertiary;
        & > div {
            //form_brand_one,two,three
            width: 100%;
            max-width: 500px;
            display:flex;
            flex-direction:column;
            margin-top: 20px;
            background-color: $white;
            padding: 10px;
            &.form_brand_two{
                .get_form_brand_three,
                .get_form_brand_four,
                .form_brand_four>button{
                    margin: 20px;
                }
            }
        }
        input,
        textarea {
            width:100%;
            resize:none;
            margin-bottom: 0;
            border: none;
            border-bottom: solid 1px $grey;
            background: $white;
            &#description{
                min-height: 100px;
                border: solid 1px $grey;
            }
        }
        label{
            &.displayLabel:before{
                @include show-text();
                position: absolute;
                margin: 23px 0px 0 -40px;
            }
            &.instagramUsername:before{
                @include noddifont($instagram, $grey, 2.6);
            }
            &.twitterUsername:before{
                @include noddifont($twitter, $grey, 2.6);
            }
            &.email:before{
                @include noddifont($email, $grey, 2.6);
            }
            &.firstname:before
            {
                @include noddifont($user, $grey, 2.6);
            }
            &.city:before
            {
                @include noddifont($pin, $grey, 2.6);
            }
            &.password:before
            {
                @include noddifont($lock, $grey, 2.6);
            }
            &.store:before
            {
                @include noddifont($store, $grey, 2.6);
            }
            &.website:before
            {
                @include noddifont($website, $grey, 2.6);
            }
        }
        .rowInput{
            display: flex;
            div {
                flex: 1;
            }
        }
        ul.select_activities {
            display:flex;
            flex-wrap:wrap;
            margin:0;
            padding:0;
            li {
                flex:1;
                min-width:100px;
                border-radius:0;
                &.button_selected {
                    background:$primary;
                }
            }
        }
        .checklist{
            margin: 10px 0 20px 0;
        }
    }
}

.offsetForm{ // decaler le form pour afficher les icons
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}
.sentenceSelect{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    padding: 20px 0px;
    p{
        margin: 3px 5px;
    }
    select{
        flex:flex-grow;
        border: none;
        color: $primary;
        font-weight: bold;
        background: none;
        @include font-size(2);
        margin: 0 5px;
        outline: none;
        option{
            border: none;
        }
    }
}
