


// PAGE LOGIN
.page_login {
    max-width:500px;
    margin:auto;
    .logo {
        margin:10px auto;
        max-width:200px;
        img {
            max-width:100%;
            height:auto;
        }
    }
    .connectSections {
        max-width:500px;
        margin:10px;
        padding:20px;
        border:solid 1px $primary;
        form {
            display:flex;
            div {
                display:flex;
                input {
                    flex:1;
                }
            }
        }
    }
}

//PAGE SIGNIN
.page_signin {
    &.modeuse{
        display: flex;
        flex-direction: column;
    }
    .createFacebookAccount{
        background: url('../img/pictures/login/insc-modeuses_visu1.jpg') center center;
        background-size: cover;
        flex-grow: 1;
    }
    .inscriptionVisu{
        background: url('../img/pictures/login/lunettesGal.jpg') center center;
        background-size: cover;
        min-height: 200px;

    }
    .inscriptionType {
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:center;
        margin-top:30px;
    }

    .stepsSignIn {
        position:relative;
        margin:auto;
        max-width:300px;
        ul {
            min-width: 200px;
            width:100%;
            // position:absolute;
            display:flex;
            justify-content:space-between;
            margin:auto;
            margin-top: -15px;
            padding:0;

            li {
                display:flex;
                align-items:center;
                justify-content:center;
                width: 36px;
                height: 36px;
                border-radius: 18px;
                border:solid 3px $primary;
                text-align:center;
                list-style:none;
                // transform:rotate(45deg);
                color:$primary;
                background:$white;
                font-weight: bold;
                &.active {
                    color: $white;
                    background:$primary;
                }
                &:after {
                    width:50px;
                    height:1px;
                    background:$tertiary;
                    display:block;
                }
            }
        }
    }
    .formBrand, .formModeuse {
        margin:20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: $white;
        border-top: solid 1px $tertiary;
        border-bottom: solid 1px $tertiary;
        & > div {
            //form_brand_one,two,three
            width: 100%;
            max-width: 500px;
            display:flex;
            flex-direction:column;
            margin-top: 20px;
        }
        input,
        textarea {
            width:100%;
            resize:none;
            padding-left: 40px;
        }
        input{
            &.instagram:before{
                @include noddifont($instagram, $tertiary, 1);
            }
            &.twitter:before{
                @include noddifont($twitter, $tertiary, 1);
            }
            &.email:before{
                @include noddifont($mail, $tertiary, 1);
            }
            &.firstname:before,
            &.lastname:before
            {
                @include noddifont($pseudo, $tertiary, 1);
            }
        }
        ul.select_activities {
            display:flex;
            flex-wrap:wrap;
            margin:0;
            padding:0;
            li {
                flex:1;
                min-width:100px;
                border-radius:0;
                &.button_selected {
                    background:$primary;
                }
            }
        }
        .checklist{
            margin: 10px 0 20px 0;
        }
    }
}

.sentenceSelect{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    padding: 20px 0px;
    p{
        margin: 3px 5px;
    }
    select{
        flex:flex-grow;
        border: none;
        color: $primary;
        font-weight: bold;
        background: none;
        @include font-size(2);
        margin: 0 5px;
        outline: none;
        option{
            border: none;
        }
    }
}
