


// PAGE LOGIN
.page_login {
    max-width:500px;
    margin:auto;
    .logo {
        margin:10px auto;
        max-width:200px;
        img {
            max-width:100%;
            height:auto;
        }
    }
    .connectSections {
        max-width:500px;
        margin:10px;
        padding:20px;
        border:solid 1px $primary;
        form {
            display:flex;
            div {
                display:flex;
                input {
                    flex:1;
                }
            }
        }
    }
}

//PAGE SIGNIN
.page_signin {
    .inscriptionType {
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:center;
        margin-top:30px;
    }

    .stepsSignIn {
        position:relative;
        border-bottom:solid 1px;
        height:15px;
        margin:auto;
        max-width:300px;
        ul {
            width:100%;
            position:absolute;
            display:flex;
            justify-content:space-between;
            margin:auto;
            padding:0;

            li {
                display:flex;
                align-items:center;
                justify-content:center;
                width:30px;
                height:30px;
                text-align:center;
                list-style:none;
                transform:rotate(45deg);
                color:$white;
                background:$tertiary;
                &.active {
                    background:$primary;
                }
                &:after {
                    width:50px;
                    height:1px;
                    background:$tertiary;
                    display:block;
                }
            }
        }
    }
    .formBrand, .formModeuse {
        padding:15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        & > div {
            //form_brand_one,two,three
            width: 100%;
            max-width: 500px;
            display:flex;
            flex-direction:column;
            margin-top: 20px;
        }
        input,
        textarea {
            width:100%;
            resize:none;
        }
        ul.select_activities {
            display:flex;
            flex-wrap:wrap;
            margin:0;
            padding:0;
            li {
                flex:1;
                min-width:100px;
                border-radius:0;
                &.button_selected {
                    background:$primary;
                }
            }
        }
        .checklist{
            margin: 10px 0 20px 0;
        }
    }
}

.sentenceSelect{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    padding: 20px 0px;
    p{
        margin: 3px 5px;
    }
    select{
        flex:flex-grow;
        border: none;
        color: $primary;
        font-weight: bold;
        background: none;
        @include font-size(2);
        margin: 0 5px;
        outline: none;
        option{
            border: none;
        }
    }
}
