
//MESSAGERIE

.page_messagerie{

	.seeProfil {
		margin: 33px 0;
		width: 100%;
		position: relative;

		.button {
			width: 250px;
			margin: 0 auto;
		}
	}

	@media (min-width: $tablet) {
		.seeProfil {
			.button {
				position: absolute;
				right: 50px;
				top: -65px;
			}
		}
    }

	.content{
		max-width: 500px;
		padding: 20px;
		margin:auto;
		.conversations{
			padding: 20px;
			background-color: $white;
			border-radius: $borderDefault;
			box-shadow: 0 0 0 10px rgba(256,256,256,0.3); 
			transition: box-shadow $transitionLengthDefault $transitionTimingDefault;
			cursor: pointer;
			h3{
				@include font-size(2);
				color: $primary;
				margin:0;
				& small{
					@include font-size(1.2);
					color: $quaternary;
				}
			}
			p{
				margin:0;
				&.seeMore{
					text-align: right;
					
				}
			}
			small{
			}
			&:hover{
				box-shadow: 0 0 15px 3px rgba(237, 123, 110, 0.1);
			}
		}

		.conversation{ //discution
			ul{
				li{
					position: relative;
					@extend .conversations;
						&{
							box-shadow: none;
							margin-bottom: 30px;
							border-radius: 10px;
							border: solid $grey 1px;
							&.receiver{
								margin-left: 40px;
								background-color: white;

								h3 {
									color: black;
								}

								h3 small, p {
									color: #555;
								}
							}
							&.myself{
								margin-right: 40px;
								background-color: lighten($secondary,8%);
							}
						h3{
							color:$white;
							& small{color:$white;}
						}
						p{
							color: $white;
						}
					}
				}
			}
			form.formSendMessage{
				textarea{
					@media (min-width: $tablet) {margin:0 40px;}
					margin-bottom: 0;
					border-top-right-radius: $radiusDefault;
					border-top-left-radius: $radiusDefault;
					min-height: 80px;
				}
				button{
					@media (min-width: $tablet) {margin:0 40px;}
					min-height: 50px;
					background: $primary;
					border-bottom-right-radius: $radiusDefault;
					border-bottom-left-radius: $radiusDefault;
					border: none;
					color: $white;
				}
			}
		}
	}
}
