// OFFERS
.page_offers{
	.formCreateOffer{
		max-width: 500px;
		margin: auto;
		padding: 15px;
		button{
			width: 100%;
		}
		.titleOffer{
			input{
				width: 100%;
			}
		}
		.flexInput{
			width: 100%;
			max-width: initial;
		}
	}
	.regularCheckbox{
		display: flex;
		align-items: baseline;
		input[type="checkbox"]{
			display: block;
			opacity: 1;
			position: relative;
			margin-right: 15px;
			&:checked{
				& + label{
				background: none!important;
					&:before{
						content: none!important;
					}
				}	
			}
		}
		label.allowContact{
			@include show-text();
		}
	}
	.flexInput{
		display: flex;
		max-width: 300px;
		margin:auto;
		.style_input.select{
			flex:1;
			margin: 10px 5px;
		}
		select{
			width: 100%;
			height: 40px;
			border-radius: $radiusDefault;
		}
	}
}



.page_viewOffer{
	.content{
		display: flex;
		margin: 10px;
		article.offer{
			background-color: $white;
			border-radius: $radiusDefault;
			margin:auto;
			max-width: 400px;
			box-shadow: 0px 0px 12px #ECECEC;
			header{
				min-height: 200px;
				background-size: cover;
				background-position: center;
				border-radius: $radiusDefault;
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
			}
			.contentArticle{
				padding: 15px;
				h3{
					@include font-size(1.8);
					font-weight: normal;
				}
				.infoBrand{
					display: flex;
					img{
						// max-width: 200px;
						// min-width: 100px;
						height: 100px;
						margin-right: 15px;
					}
					.infoBranText{
						flex:1;
						h4{
							@include font-size(1.6);
							margin: 0 0 10px 0;
						}
						p{
							margin: 5px 0
						}
					}
				}
			}
			footer{
				border-top: solid 1px $grey;
				text-align: left;
				padding: 15px;
				background: none!important;
				h3{
					@include font-size(1.8);
					font-weight: normal;
					margin-top: 0;
					small{
						font-weight: bold;
						color: $primary;
						@include font-size(1.8);
					}
				}
				.apply_offer{
					margin:0;
				}
				.flexButtons{
					display: flex;
					.button{
						flex:1;
						margin: 5px;
					}
				}
			}
		}
	}
}