// Profile

// .page_profile{
//     .infoUser{
//         display: flex;
//     }
// }

.page_account{
}

.hr {
	background-color: #d5d5d5;
	height: 1px;
	margin-bottom: 20px;
}
.mySquad {
	position: relative;
	background-color: #ed7b6e;
	display: block;
	border-radius: 50%;
	padding: 6px;
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	margin: 0 auto;
	margin-bottom: 20px;

	@media (min-width: $tablet) {
		margin: 0;
		display: inline-block;
	}


	&:before  {
		position: relative;
		left: 1px;
	}

	&.mySquad_facebook {
		@media (min-width: $tablet) {
			top: 28px;
		}		&:before {
			@include noddifont($facebook, white, 1.7);
		}
	}
	&.mySquad_twitter {
		@media (min-width: $tablet) {
			top: 28px;
		}
			&:before {
			@include noddifont($twitter, white, 1.7);
		}
	}
	&.mySquad_instagram {
		@media (min-width: $tablet) {
			top: 111px;
		}
		&:before {
			@include noddifont($instagram, white, 1.7);
		}
	}

}

.page_viewProfile{
	display: flex;
	flex-direction: column;
	header.globalInfo{
		display: flex;
		align-items: center;
		max-width: 500px;
		margin: auto;
		@media (min-width: $tablet) {
			max-width: 800px;
		}
		.profile_picture{
			background-color: $grey;
			margin-right: 20px;
			width: 110px;
			height: 110px;
			margin: 10px;
			@media (min-width: $tablet) {
				width: 160px;
				height: 160px;
			}
		}
		.contentInfos{
			flex: 4;
			margin-left: 15px;
			h3{
				color: $primary;
				@include font-size(1.8);
				font-weight: normal;
			}
			.user{margin-top: -20px;}
			.has_blog{font-size: .8em;}
		}
		.notifications{
			flex: 1;
		}
	}
	.content{
		margin: 20px 15px 0 15px;
		@media (min-width: $tablet) {
			display: flex;
			flex-direction: column;
		}
		.button{
			max-width: 300px;
			margin:0 auto;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		ul.tabsProfile{
				display: flex;
				max-width: 500px;
				margin: auto;
				@media (min-width: $tablet) {
					display: none;
				}
			li{
				cursor: pointer;
				text-align: center;
				padding: 10px;
				border: solid 1px $grey;
				flex:1;
				transition: background-color $transitionLengthDefault $transitionTimingDefault;
				&+li{
					// border: none;
					border-left: none;
					border-right: solid 1px $grey;
				}
				&:hover{
					background-color: $white;
				}
				&.active{
					color: $white;
					background-color: $secondary;
				}
			}
		}
		@media (min-width: $tablet) {
			.specialDesktop{
				display: flex;
				// max-width: 800px;
				margin: auto;
			}
		}
		.viewTab{
			max-width: 500px;
			margin: auto;
			display: none;
			flex:1;
			@media (min-width: $tablet) {
				display: flex;
				max-width: 800px;
				justify-content: space-around;
			}

			.all_socials {
				li {
  					padding: 9px 19px;
					display: inline-block;
					margin-left: 20px;
					margin-bottom: 20px;
					background-color: $primary;
					color: white;
					font-weight: bold;
				}
			}

			&#viewUserDescription{
				flex-wrap: wrap;
				margin-bottom: 30px;
				flex-direction: column;
				@media (min-width: $tablet) {
					margin: 0;
					justify-content: flex-start;
				}
				p{
					width: 100%;
					&.checkDescription {
						@media (min-width: $tablet) {
							margin: 0;
							width: 300px;
						}
					}
				}
			}
			&#viewUserReputation{
				flex-wrap: wrap;
				max-width: 550px;
				width: 100%;
				margin-bottom: 20px;
				@media (min-width: $tablet) {
					justify-content: flex-start;
					ul {
						flex-direction: row;
					}
				}
				h2{
					display: none;

					@media (min-width: $tablet) {
						display: block;
						width: 100%;
					}
				}

				p{width: 100%;}
				.backReach{
					width: 100%; 
					margin: 0 0 20px 0;
				}
				.socialStats{
					margin:0;
					margin-bottom: 35px;
					margin-left: 50px;
					@media (min-width: $tablet) {
						margin-left: 0px;
					}
					li {
						&:before {
							margin-right: 10px;
						}
					}
				}
			}
			&#viewUserPosts{

			}
			.iconsUser{
				max-width: 500px;
				margin-bottom: 15px;
				margin-left: 20px;
				@media (min-width: $tablet) {
					margin-left: 0;
				}
				margin-top: 20px;
				position: relative;
				h4{
					color: $primary;
					margin: 0;
					margin-left:25px;
					font-family: "Open Sans";
					@media (min-width: $tablet) {
						margin-left: 34px;
					}
				}
				p{
					margin: 0;
					margin-left:25px;
					@media (min-width: $tablet) {
						margin-left: 34px;
					}
				}
				&:before{
					position: absolute;
					top: 10px;
					left: -5px;
				}
				&.hobbies:before{
					@include noddifont($fav, $primary, 2.7);
				}
				&.personality:before{
					@include noddifont($user, $primary, 2.7);
				}
				&.style:before{
					@include noddifont($shoes, $primary, 1.7);
				}
			}

			h2{
				margin-top: 40px;
				@media (min-width: $tablet) {
					margin-top: 0;
				}
				@extend .subtitleSmall;
				@include font-size(1.8);
			}
			ul.socialStats{
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				// align-items: center;
				// margin-left: 50px;
				padding: 20px;
				
					flex-direction: row;
					width: 100%;
					align-items: flex-start;
					margin-left: 0;
					align-items: stretch;
					justify-content: flex-start;
					flex-wrap: wrap;
				
				li{
					padding: 10px 0;
					min-width: 140px;
					@include font-size(2);
					@media (min-width: $tablet) {
						// flex:1;
						align-items: center;
						justify-content: center;
						display: flex;
						margin: 0 0 0 60px;
						min-width: 30px;
					}
					p{
						display: flex;
						flex-direction: column;
						margin: 5px 0;
						font-weight: bold;
					}
					small{
						@include font-size(1.4);
						text-transform: uppercase;
						font-weight: normal;
					}
					&:before{
						position: absolute;
						background-color: $primary;
						margin-right: 10px;
						border-radius: 50%;
						text-align: center;
						padding: 10px;
						margin-left: -40px;
						margin-top: -10px;
						@media (min-width: $tablet) {
							position: absolute;
					  		margin: 0;
					  		// margin-top: 0px;
					  		// margin-right: 10px;
					  		width: 20px;
					  		height: 20px;
					  		// margin-top: -20px;
					  		// margin-top: 20px;
					  		margin-left: -50px;
					  		margin-top: 5px;
						}
					}
					&.facebook:before{
						@include noddifont($facebook, $white, 1.7);
					}
					&.twitter:before{
						@include noddifont($twitter, $white, 1.7);
					}
					&.instagram:before{
						@include noddifont($instagram, $white, 1.7);
					}
					&.tumblr:before{
						@include noddifont($tumblr, $white, 1.7);
					}
					&.youtube:before{
						@include noddifont($youtube, $white, 1.7);
					}
					&.vine:before{
						@include noddifont($vine, $white, 1.7);
					}
					&.flickr:before{
						@include noddifont($flickr, $white, 1.7);
					}
					&.pinterest:before{
						@include noddifont($pinterest, $white, 1.7);
					}
					&.snapchat:before{
						@include noddifont($snapchat, $white, 1.7);
					}
				}
			}
			.backReach{
				max-width: 500%;
				background-color: $white;
				height: 30px;
				.reach{
					background-color: $primary;
					height: 100%;
					max-width: 100%;
					overflow: hidden;
					//width: ; html style
					position: relative;
					small{
						text-align: right;
						padding-right: 20px;
						position: absolute;
						right: 0;
						margin-top: 8px;
						color: white;
						font-weight: bold;
					}
				}
			}
			article.post{

				// max-width: 200px;
				border-radius: $radiusDefault;
				border: 1px #d5d5d5 solid;
				background-color: $white;
				margin-bottom: 20px;
				header.post_picture{
					min-height: 200px;
					background-position: center center;
					background-size: cover;
					border-radius: $radiusDefault;
					border-bottom-left-radius: initial;
					border-bottom-right-radius: initial;
				}
				.post_content{
					padding: 10px;
					color: $black;
				}
				footer.statsPosts{
					background: none;
					padding: 10px 20px;
					ul{
						display: flex;
					  	justify-content: space-around;
						li{
							&:before{
								position: absolute;
								margin-left: -20px;
							}
							&.likes:before{
								@include noddifont($fav, $primary, 1.7);
							}
							&.comments:before{
								@include noddifont($message, $primary, 1.7);
							}
							&.share:before{
								@include noddifont($share, $primary, 1.7);
							}
						}
					}
				}

				@media (min-width: $tablet) {
					width: 350px;
					display: inline-block;
					margin-left: 30px;
					vertical-align: top;
		        }
			}
		}
	}
}