// Profile

// .page_profile{
//     .infoUser{
//         display: flex;
//     }
// }

.page_account{
}


.page_viewProfile{
	display: flex;
	flex-direction: column;
	header.globalInfo{
		display: flex;
		max-width: 500px;
		margin: auto;
		@media (min-width: $tablet) {
			max-width: 800px;
		}
		.profile_picture{
			background-color: $grey;
			margin-right: 20px;
			@media (min-width: $tablet) {
				width: 160px;
				height: 160px;
			}
		}
		.contentInfos{
			flex: 4;
			h3{
				color: $primary;
				@include font-size(1.8);
				font-weight: normal;
			}
			.user{}
			.bio{}
		}
		.notifications{
			flex: 1;
		}
	}
	.content{
		margin: 0 15px;
		@media (min-width: $tablet) {
			display: flex;
			flex-direction: column;
		}
		.button{
			max-width: 300px;
			margin:0 auto;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		ul.tabsProfile{
				display: flex;
				max-width: 500px;
				margin: auto;
				@media (min-width: $tablet) {
					display: none;
				}
			li{
				cursor: pointer;
				text-align: center;
				padding: 10px;
				border: solid 1px $grey;
				flex:1;
				transition: background-color $transitionLengthDefault $transitionTimingDefault;
				&+li{
					// border: none;
					border-left: none;
					border-right: solid 1px $grey;
				}
				&:hover{
					background-color: $white;
				}
				&.active{
					color: $white;
					background-color: $secondary;
				}
			}
		}
		@media (min-width: $tablet) {
			.specialDesktop{
				display: flex;
				max-width: 800px;
				margin: auto;
			}
		}
		.viewTab{
			max-width: 500px;
			margin: auto;
			display: none;
			flex:1;
			@media (min-width: $tablet) {
				display: flex;
				max-width: 800px;
				justify-content: space-around;
			}

			.all_socials {
				li {
  					padding: 9px 19px;
					display: inline-block;
					margin-left: 20px;
					margin-bottom: 20px;
					background-color: $primary;
					color: white;
					font-weight: bold;
				}
			}

			&#viewUserDescription{
				flex-wrap: wrap;
				margin-bottom: 30px;
				flex-direction: column;
				@media (min-width: $tablet) {
					margin: 0;
					justify-content: center;
				}
				p{
					width: 100%;
				}
			}
			&#viewUserReputation{
				flex-wrap: wrap;
				max-width: 550px;
				width: 100%;
				margin-bottom: 20px;
				@media (min-width: $tablet) {
					ul {
						flex-direction: column;
					}
				}
				h2{
					display: none;

					@media (min-width: $tablet) {
						margin-top: 50px;
						display: block;
						text-align: center;
						width: 100%;
					}
				}

				p{width: 100%;}
				.backReach{width: 100%; margin: 20px 0;}
				.socialStats{
					margin:0;
					margin-bottom: 35px;
					margin-left: 50px;
					li {
						&:before {
							margin-right: 10px;
						}
					}
				}
			}
			&#viewUserPosts{

			}
			.iconsUser{
				max-width: 500px;
				margin-bottom: 15px;
				margin-left: 20px;
				margin-top: 20px;
				h4{
					color: $primary;
					margin: 0;
					margin-left:25px;
				}
				p{
					margin: 0;
					margin-left:25px;
				}
				&:before{
					position: absolute;
				}
				&.hobbies:before{
					@include noddifont($fav, $primary, 1.7);
				}
				&.personality:before{
					@include noddifont($user, $primary, 1.7);
				}
				&.style:before{
					@include noddifont($shoes, $primary, 1.7);
				}
			}

			h2{
				margin-top: 40px;
				@media (min-width: $tablet) {
					margin-top: 0;
				}
				@extend .subtitleSmall;
				@include font-size(1.8);
			}
			ul.socialStats{
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				// align-items: center;
				margin-left: 50px;
				@media (min-width: $tablet) {
					flex-direction: row;
					width: 100%;
					align-items: flex-start;
					margin-left: 0;
				}
				li{
					padding: 10px 0;
					@include font-size(2);
					@media (min-width: $tablet) {
						flex:1;
					}
					small{
						@include font-size(1.4);
					}
					&:before{
						position: absolute;
						background-color: $primary;
						margin-right: 10px;
						border-radius: 50%;
						text-align: center;
						padding: 10px;
						margin-left: -40px;
						margin-top: -10px;
						@media (min-width: $tablet) {
					  		margin: 0;
					  		margin-top: 0px;
					  		position: relative;
					  		margin-right: 10px;
						}
					}
					&.facebook:before{
						@include noddifont($facebook, $white, 1.7);
					}
					&.twitter:before{
						@include noddifont($twitter, $white, 1.7);
					}
					&.instagram:before{
						@include noddifont($instagram, $white, 1.7);
					}
				}
			}
			.backReach{
				max-width: 500%;
				background-color: $white;
				height: 30px;
				.reach{
					background-color: $primary;
					height: 100%;
					max-width: 100%;
					overflow: hidden;
					//width: ; html style
					position: relative;
					small{
						text-align: right;
						padding-right: 20px;
						position: absolute;
						right: 0;
						margin-top: 8px;
						color: white;
						font-weight: bold;
					}
				}
			}
			article.post{

				// max-width: 200px;
				border-radius: $radiusDefault;
				background-color: $white;
				margin-bottom: 20px;
				header.post_picture{
					min-height: 200px;
					background-position: center center;
					background-size: cover;
					border-radius: $radiusDefault;
					border-bottom-left-radius: initial;
					border-bottom-right-radius: initial;
				}
				.post_content{
					padding: 10px;
					color: $black;
				}
				footer.statsPosts{
					background: none;
					padding: 10px 20px;
					ul{
						display: flex;
					  	justify-content: space-around;
						li{
							&:before{
								position: absolute;
								margin-left: -20px;
							}
							&.likes:before{
								@include noddifont($fav, $primary, 1.7);
							}
							&.comments:before{
								@include noddifont($message, $primary, 1.7);
							}
							&.share:before{
								@include noddifont($share, $primary, 1.7);
							}
						}
					}
				}

				@media (min-width: $tablet) {
					width: 350px;
					display: inline-block;
					margin-left: 30px;
					vertical-align: top;
		        }
			}
		}
	}
}