// Profile

// .page_profile{
//     .infoUser{
//         display: flex;
//     }
// }

.page_account{
	display: flex;
	flex-direction: column;
	header.globalInfo{
		display: flex;
		img{
			flex: 3;
		}
		.contentInfos{
			flex: 4;
		}
		.notifications{
			flex: 1;
		}
	}
}