// VARIABLES
// COLORS
		$primary: 		#ed7b6e; 	//salmon
		$secondary: 	#5fc6ce; 	//lightblue
		$tertiary: 		#aaaaaa; 	//grey
		$quaternary:	#5c5c5c;	//DarkGrey

		$blueModeuse : #90d6db;

		$white:			#ffffff;
		$black:			#000000;
		// $lightGrey: 	#c1c1c1;
		$lightGrey: 	#f6f6f6;
		$grey : 		#c8c7cc;
		$error : 		#f04a10;

		//SIZES
		$tablet:			500px;
		$desktop:			1000px;
		$radiusDefault : 	12px;
		$borderDefault : 	3px;

		// ICOFONT
		$facebook: 	'\E001';
		$twitter:	'\E002';
		$instagram:	'\E003';
		$pinterest:	'\E004';
		$snapchat:	'\E005';
		$check:		'\E006';
		$home:		'\E007';
		$tag:		'\E008';
		$fav:		'\E009';
		$message:	'\E00A';
		$cake:		'\E00B';
		$email:		'\E00C';
		$pin:		'\E00D';
		$user:		'\E00E';
		$prev:		'\E00F';
		$edit:		'\E010';
		$delete:	'\E011';
		$lock:		'\E012';
		$store:		'\E013';
		$laptop:	'\E014';
		$website:	'\E015';
		$close:		'\E016';

		
		
		//TRANSITIONS
		$transitionLengthDefault: 0.2s;
		$transitionTimingDefault: ease-in-out;
