// VARIABLES
// COLORS
		$primary: 		#ef8f7a; 	//salmon
		$secondary: 	#aaaaaa; 	//grey
		$tertiary:		#585858;	//DarkGrey

		$white:			#ffffff;
		$black:			#000000;
		$lightGrey: 	#c1c1c1;

		//SIZES
		$tablet:			500px;
		$desktop:			1000px;
		$radiusDefault : 	12px;

		// ICOFONT
		$facebook: 	'\E001';
		$instagram:	'\E002';
		$pinterest:	'\E003';
		$snapchat:	'\E004';
		$twitter:	'\E005';

		
		
		//TRANSITIONS
		$transitionLengthDefault: 0.2s;
		$transitionTimingDefault: ease-in-out;
