@import 'compass';

$blue : #d5f1f3;
$pink : #f09494;
$grey : #d6d3d3;
$grey_black : #949393;
$black : #313131;

@font-face {
	font-family: 'Mathlete-Skinny';
	src: url('font/Mathlete-Skinny.otf');
}

@font-face {
	font-family: 'Cheddar';
	src: url('font/cheddarjack.otf');
	font-style: lighter;
}

// @font-face {
// 	font-family: 'Source-Sans-Pro-Light';
// 	src: url('font/sourcesansprolight.otf');
// }

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

html, body {
	padding: 0;
	margin: 0;
	font-family: "Source Sans Pro";
	color: $black;
}

.button {
	border: solid 1px $pink;
	border-radius: 10px;
	color: $pink;
	padding: 15px 20px;
	background-color: transparent;
	cursor: pointer;
	transition: 0.4s;

	&:hover {
		background-color: $pink;
		color: white;
	}
}

p {
	font-size: 1.2em;
}

input, button {
	font-size: 1em;
}

.green {
	color: green;
}

.red {
	color: red;
}

// polygon, polyline, path {
//   opacity: 0;
// }

header {
	background-color: $blue;
	margin-bottom: 40px;
	padding-bottom: 30px;
	text-align: center;

	.logo {
		padding-top: 40px;
		width: 95%;
		max-width: 300px;
		margin: 0 auto;
		display: inline-block;
		position: relative;

		h1 {
			vertical-align: bottom;
			font-family: "Cheddar";
			font-size: 6em;
			margin: 0;
			color: $black;
			opacity: 0;
			position: absolute;
		}
	}

	.field {
		display: inline-block;
		width: 350px;
		margin: 0 auto;
		text-align: left;
		vertical-align: top;
		position: relative;
		top: 100px;
		left: 50px;

		div {
			margin-top: 20px;
		}

		h2 {
			font-family: "Mathlete-Skinny";
			font-size: 2.5em;
			margin: 0;
			color: $black;
		}
	}
}

@media screen and (max-width:850px) {

	header {
		.logo {
			display: block;
		}
		.field {
			display: block;
			position: relative;
			top: 0;
			left: 0;
			margin: 0 auto;
			width: 315px;
			text-align: center;
		}
	}
}

@media screen and (max-width:550px) {

	header {
		.logo {
			width: 50%;
		}
	}
}

.wrapper {
	width: 95%;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;

	form {

		.separator {
			width: 15px;
			display: inline-block;
		}

		input {
			border: solid 1px $grey;
			border-radius: 10px;
			color: $grey_black;
			padding: 15px;
			width: 260px;
			background-color: transparent;
		}
	}
}

@media screen and (max-width:550px) {

	.wrapper {
		form {
			input, button {
				display: block;
				margin: 0 auto;
				width: 250px;
			}
		}
	}
}

.follow_us {
	font-family: "Mathlete-Skinny";
	display: inline-block;
	vertical-align: top;
	font-size: 2em;
	margin-bottom: 15px;
	margin-top: 15px;
}

.socials {
	display: inline-block;
	vertical-align: bottom;
	padding: 0;
	margin: 0;
	
	li {
		display: inline-block;

		a {
			background-repeat: no-repeat;
			height: 40px;
			width: 40px;
			margin-right: 20px;
			display: inline-block;
			transition: 0.2s;
			position: relative;
			top: 0;

			&.facebook {
				background-image: url('../img/facebook.png');
				&:hover {
					background-image: url('../img/facebook_hover.png');
				}
			}
			&.twitter {
				background-image: url('../img/twitter.png');
				&:hover {
					background-image: url('../img/twitter_hover.png');
				}
			}
			&.instagram {
				background-image: url('../img/instagram.png');
				&:hover {
					background-image: url('../img/instagram_hover.png');
				}
			}
			&.snapchat {
				background-image: url('../img/snapchat.png');
				&:hover {
					background-image: url('../img/snapchat_hover.png');
				}
			}
			&.pinterest {
				background-image: url('../img/pinterest.png');
				&:hover {
					background-image: url('../img/pinterest_hover.png');
				}
			}

			

			&:hover {
				top: -5px;
			}
		}
	}
}

footer {
	text-align: center;

	.cgu {
		display: block;
		margin-top: 50px;
		text-decoration: none;
		color: $pink;
		font-size: 0.85em;

		&:hover {
			text-decoration: underline;
		}
	}
}



@media screen and (max-width:500px) {
	footer {
		text-align: center;

		.follow_us, .socials {
			text-align: center;
			display: block;
		}
		.socials {
			width: 260px;
			margin: 0 auto;
		}
	}
}

svg {
	.animation {
		polygon, polyline, path {
			-webkit-transform: translateX(em-calc(0));
			-webkit-transition: 0.4s;
		}
	}
}