@import '_helpers';


*::selection {
    background-color:$primary;
    color:$white;
}

html {
    font-size:62.5%; /* Sets up the Base 10 stuff */
    margin:0;
    padding:0;
}
body {
    @extend .regularText;
    box-sizing:border-box;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet) {
        flex-direction:row;
    }
}
a {
    color:inherit;
    text-decoration:none;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

h1 {
    @extend .title;
}
h2 {
    @extend .subtitle;
}
h3 {
    @extend .subtitleSmall;
}
h4 {
    @extend .subtitleMini;
}


form {
    display:flex;
    flex-direction:column;
    label {
        @include hide-text();
        &.showLabel{
            @include show-text();
            position: relative;
            display: flex;
            flex-grow: 1;
            // flex: 1;
            justify-content: center;
            align-items: center;
            padding:10px 20px;
            margin:5px;
            border: solid $borderDefault $primary;
            background: none;
            color:$primary;
            // @extend .button;
            font-weight:bold;
        }
    }
    input, textarea {
        box-sizing:border-box;
        border:solid 1px $lightGrey ;
        border-radius:$radiusDefault;
        padding:12px 20px;
        outline: none;
        // margin:0 15px;
        margin-bottom:15px;
        &[type="radio"],&[type="checkbox"]{
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            opacity: 0;
            &:checked + label{
                background: $primary;
                color: $white;
                &:before{
                    padding-right: 5px;
                    width: 10px;
                    height: 10px;
                    @include noddifont($check, $white, 1);
                }
            }
        }
    }
}

.checklist, .radiolist{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.button {
    border-radius:$radiusDefault;
    padding:10px 20px;
    margin:5px 15px;
    // margin-bottom: 15px;
    text-align:center;
    font-weight:bold;
    cursor:pointer;
    transition:background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border 0.3s ease-in-out;
    color:$primary;
    border:solid $primary $borderDefault;
    background:none;
    display:block;
    outline: none;
    &:hover {
        color:$white;
        background:$primary;
    }

    &.reversed {
        border:solid $primary $borderDefault;
        background:$primary;
        color:$white;
        &:hover {
        	border:solid $tertiary $borderDefault;
            background:$tertiary;
        }
    }
    &.small {
        padding:5px 10px;
    }
    &.dark {
        border-color:$tertiary;
        background:$tertiary;
        color:$white;
        &:hover {
            border-color:$primary;
            background:none;
            color:$white;
        }
    }
}
#container{
    flex:1;
    width: 100%;
}

.headerApp {
    display:flex;
    background:$lightGrey;
    margin:0;
    nav#navigation{
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 30;
        @media (min-width: $tablet) {
            position: relative;
        }
        ul.menu {
            list-style: none;
            margin:0;
            padding:0;
            display:flex;
            flex-direction:row;
            @media (min-width: $tablet) {
                flex-direction:column;
            }
            li{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                flex:1;
                background: $lightGrey;
                color: $white;
                padding: 10px 0;
                @media (min-width: $tablet) {
                    height: auto;
                    padding: 20px;
                    padding-top: 40px;
                    text-align: center;
                }
                &+li{
                    border-left: solid 1px #000;
                    @media (min-width: $tablet) {
                        border-top: solid 1px #000;
                    }
                }
                &.active{
                    background: $primary;
                }
                // &:before{position: absolute;}
                &.home:before{
                    @include noddifont($home, $white, 2.5);
                }
                &.offers:before{
                    @include noddifont($tag, $white, 2.5);
                }
                &.favs:before{
                    @include noddifont($fav, $white, 2.5);
                }
                &.messages:before{
                    @include noddifont($message, $white, 2.5);
                }
                
            }
        }
        
    }
}

.page {
    // display: flex;
    // flex-direction: column;
    // height: 100%;
}


@import '_home';
@import '_login';
@import '_footer';









/*
*   PROPOSITIONS
*/

.proposition {
    border: solid 1px black;
    padding: 10px;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;

    .proposition_picture, .proposition_content, .proposition_buttons {
        display: inline-block;
        vertical-align: top;
    }
}

.center {
    width: 350px;
    margin: 0 auto;
    margin-top: 20px;
}

.proposition_sent {
    width: 150px;
    display: inline-block;
    border: solid 1px black;
    padding: 10px;

    div {
        display: inline-block;
        vertical-align: top;
        width: 70px;
    }
}

.proposition_received {
    border: solid 1px black;
    padding: 10px;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;

    .buttons {
        .button {
            display: inline-block;
            vertical-align: top;
        }
    }
}

/*
*   MESSAGES
*/

.message {
    width: 300px;
    margin: 0 auto;
    border: solid 1px black;
    padding: 10px;

    .message_sender, .message_time {
        display: inline-block;
        vertical-align: top;
    }
}