@import '_helpers';

*{
    box-sizing:border-box;
}
*::selection {
    background-color:$primary;
    color:$white;
}

html {
    font-size:62.5%; /* Sets up the Base 10 stuff */
    margin:0;
    padding:0;
    height: 100%;
}
body {
    background: $lightGrey;
    @extend .regularText;
    min-height: 100%;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet) {
        flex-direction:row;
    }
}

.profile_picture {
    width: 130px;
    height: 130px;
    background-size: cover;
    margin: 10px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    margin-bottom: 50px;
}

a {
    color:inherit;
    text-decoration:none;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

h1 {
    //@extend .title;
    color: white;
    background-color: $blueModeuse;
    margin: 0;
    font-size: 1em;
    padding: 10px 0;
    text-align: center;
}
h2 {
    @extend .subtitle;
}
h3 {
    @extend .subtitleSmall;
}
h4 {
    @extend .subtitleMini;
}


form {
    display:flex;
    flex-direction:column;
    label {
        @include hide-text();
        &.showLabel{
            @include show-text();
            position: relative;
            display: flex;
            flex-grow: 1;
            // flex: 1;
            justify-content: center;
            align-items: center;
            padding:10px 20px;
            margin:5px;
            border: solid $borderDefault $grey;
            background: $white;
            color:$grey;
            // @extend .button;
            font-weight:bold;
            border-radius: 5px;
        }
    }
    input, textarea {
        box-sizing:border-box;
        border:solid 1px $tertiary ;
        // border-radius:$radiusDefault;
        padding:12px 20px;
        outline: none;
        // margin:0 15px;
        margin-bottom:15px;
        &[type="radio"],&[type="checkbox"]{
            position: absolute;
            position: absolute;
            top: 0;
            right: 0;
            width: auto;
            opacity: 0;
            &:checked + label{
                background: $grey;
                color: $white;
                &:before{
                    padding-right: 5px;
                    width: 10px;
                    height: 10px;
                    @include noddifont($check, $white, 1);
                }
            }
        }
    }
}

.checklist, .radiolist{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.button {
    border-radius:$radiusDefault;
    padding:10px 20px;
    margin:5px 15px;
    // margin-bottom: 15px;
    text-align:center;
    font-weight:bold;
    cursor:pointer;
    transition:background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border 0.3s ease-in-out;
    color:$primary;
    border:solid $primary $borderDefault;
    background:none;
    display:block;
    outline: none;
    &:hover {
        color:$white;
        background:$primary;
    }

    &.reversed {
        border:solid $primary $borderDefault;
        background:$primary;
        color:$white;
        &:hover {
        	border:solid $tertiary $borderDefault;
            background:$tertiary;
        }
    }
    &.small {
        padding:5px 10px;
    }
    &.dark {
        border-color:$quaternary;
        background:$quaternary;
        color:$white;
        &:hover {
            border-color:$primary;
            background:none;
            color:$white;
        }
    }
}
#container{
    flex:1;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.headerApp {
    display:flex;
    background:$lightGrey;
    margin:0;
    nav#navigation{
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 30;
        @media (min-width: $tablet) {
            position: relative;
            background-color: #5fc6ce;
        }
        ul.menu {
            list-style: none;
            margin:0;
            padding:0;
            display:flex;
            flex-direction:row;
            @media (min-width: $tablet) {
                flex-direction:column;
            }
            li{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                box-sizing: border-box;
                flex:1;
                color: $grey;
                padding: 10px 5px;
                @media (min-width: $tablet) {
                    color: $white;
                    background-color: $secondary;
                    //height: auto;
                    padding: 0;
                    text-align: center;
                    position: relative;
                    justify-content: left !important;

                    &.profile_picture {
                        display: block;
                    }

                    a {
                        color: white;
                        padding: 20px;
                        font-weight: bold;

                        &:before{
                            position: absolute;
                            top: 15px;
                            left: 13px;
                            color: white !important;
                        }
                    }

                    &:hover {
                        background-color: darken($secondary, 13%);
                    }
                    &.profile_picture {
                        &:hover {
                            background-color: transparent;
                        }
                    }
                    &.active{
                        background-color: darken($secondary, 13%);
                        a:before {
                            color: white !important;
                        }
                    }
                }

                a {
                    font-size: 0.75em;
                    text-align: center;

                    &:before {
                        display: block;
                    }

                    &.home:before{
                        @include noddifont($home, $grey, 2.5);
                    }
                    &.offers:before{
                        @include noddifont($tag, $grey, 2.5);
                    }
                    &.favs:before{
                        @include noddifont($fav, $grey, 2.5);
                    }
                    &.messages:before{
                        @include noddifont($message, $grey, 2.5);
                    }
                    &.dashboard:before{
                        @include noddifont($message, $grey, 2.5);
                    }
                    &.profil:before{
                        @include noddifont($message, $grey, 2.5);
                    }
                }

                &.profile_picture {
                    display: none;
                }
                &.active{
                    color: $secondary;
                    a:before {
                        color: $secondary !important;
                    }
                }
            }
        }
    }
}

.page {
    flex-grow: 1; //Set the footer a the bottom of the page
    padding-bottom: 40px;
    @media (min-width: $tablet) {
        padding-bottom: 0;
    }

}

header.headerPage{
    display: flex;
    flex-direction: row-reverse;
    // align-items: baseline;
    align-items: stretch;
    h2.titlePage{
        @extend .subtitleSmall;
        flex:7;
        background: $secondary;
        text-align: center;
        padding: 5px 0;
        margin: 0;
        color: $white;
        @include font-size(1.8);
        @media (min-width: $tablet) {
            color: $black;
            background: none;

        }
    }
    .previousStepMenu{
        a{
            @include hide-text();
        }
        &:before{
            @include show-text();
            @include noddifont($prev, $grey, 2.6);
            flex:1;
        }
    }
}

.fb_button{
    border: solid 4px darken(#3b5998, 10%);
    background: #3b5998;
    border-radius: 0;
    color: $white;
    align-items: center;
    padding: 0;
    // padding-right: 20px;
    // margin-right: 20px;
    border-radius: 10px;
    // padding: 10px 0;
    padding-right: 20px;
    display: flex;
    &:before{
        @include noddifont($facebook, $white, 1.5);
        margin-right: 10px;
        background-color: darken(#3b5998, 10%);
        padding: 20px;
        // flex: 1;
    }
    &:hover{
        background-color: darken(#3b5998, 10%);
    }
}








/*
*   MESSAGES
*/

.message {
    width: 300px;
    margin: 0 auto;
    border: solid 1px black;
    padding: 10px;

    .message_sender, .message_time {
        display: inline-block;
        vertical-align: top;
    }
}

.blog_selected, .network_selected, .section_selected, .audience_selected {
    background-color: blue;
}

/*
*   LOADER
*/

.rectangle-bounce {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -30px;
    height: 60px;
    width: 80px;
    z-index: 10;
    margin-right: 40px;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    text-align: center;
}

.rectangle-bounce div {
    height: 100%;
    width: 7px;
    margin: 0 3px 0 0;
    background-color: white;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.rectangle-bounce .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.rectangle-bounce .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.rectangle-bounce .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.rectangle-bounce .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
    }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0) 
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    display: none;
    width: 100%;
    height: 100%;
}

.loaderIE {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/background_loader_IE.png');
    background-repeat: repeat;
    display: none;
}

.loaderIE img {
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    height: 100px;
    width: 100px;
    display: block;
    position: relative;
}

.message.error{
    position: absolute;
    background-color: $error;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: none;
    color: $white;
    font-weight: bold;
    transition:opacity transitionLengthDefault transitionTimingDefault;
    &:after{
        @include noddifont($close, $white, 2.6);
        padding: 10px 20px;
    }
    &:hover:after{
        opacity: 0.7
    }
}
.uploadify-button-text {
    position: relative;
    top: 15px;
    left: -15px;
}

.swfupload {
    position: relative;
    left: 0px;
    top: 0px;
}

.blue_header {
    background-color: $secondary;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;

    .delete {
        position: absolute;
        right: 20px;
        top: 5px;
        cursor: pointer;

        &:before {
            @include noddifont($delete, $white, 2.6);
        }
    }

    h2 {
        margin: 0;
        color: white;
        padding-left: 10px;
        display: inline-block;
    }
}



@import '_home';
@import '_login';
@import '_footer';
@import '_profile';
@import '_dashboard';
@import '_account';
@import '_offers';

