@import '_helpers';


*::selection {
    background-color:$primary;
    color:$white;
}

html {
    font-size:62.5%; /* Sets up the Base 10 stuff */
    margin:0;
    padding:0;
}
body {
    @extend .regularText;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
a {
    color:inherit;
    text-decoration:none;
}

ul{
    padding: 0;
    margin: 0;
}

h1 {
    @extend .title;
}
h2 {
    @extend .subtitle;
}
h3 {
    @extend .subtitleSmall;
}
h4 {
    @extend .subtitleMini;
}


form {
    display:flex;
    flex-direction:column;
    label {
        @include hide-text();
        &.showLabel{
            @include show-text();
            position: relative;
            display: flex;
            flex-grow: 1;
            // flex: 1;
            justify-content: center;
            align-items: center;
            padding:10px 20px;
            margin:5px;
            border: solid $borderDefault $primary;
            background: none;
            color:$primary;
            // @extend .button;
            font-weight:bold;
        }
    }
    input, textarea {
        box-sizing:border-box;
        border:solid 1px $lightGrey ;
        border-radius:$radiusDefault;
        padding:12px 20px;
        // margin:0 15px;
        margin-bottom:15px;
        &[type="radio"],&[type="checkbox"]{
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            opacity: 0;
            &:checked + label{
                background: $primary;
                color: $white;
                &:before{
                    padding-right: 5px;
                    width: 10px;
                    height: 10px;
                    @include noddifont($check, $white, 1);
                }
            }
        }
    }
}

.checklist, .radiolist{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.button {
    border-radius:$radiusDefault;
    padding:10px 20px;
    margin:5px 15px;
    // margin-bottom: 15px;
    text-align:center;
    font-weight:bold;
    cursor:pointer;
    transition:background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border 0.3s ease-in-out;
    color:$primary;
    border:solid $primary $borderDefault;
    background:none;
    display:block;
    &:hover {
        color:$white;
        background:$primary;
    }

    &.reversed {
        border:solid $primary $borderDefault;
        background:$primary;
        color:$white;
        &:hover {
        	border:solid $tertiary $borderDefault;
            background:$tertiary;
        }
    }
    &.small {
        padding:5px 10px;
    }
    &.dark {
        border-color:$tertiary;
        background:$tertiary;
        color:$white;
        &:hover {
            border-color:$primary;
            background:none;
            color:$white;
        }
    }
}


.headerApp {
    display:flex;
    min-height:40px;
    background:$lightGrey;
    margin:0;
    padding:15px;
    nav ul {
        margin:0;
        padding:0;
        display:flex;
        flex-direction:row;
    }
}

.page {
    // display: flex;
    // flex-direction: column;
    // height: 100%;
}



@import '_home';
@import '_login';
@import '_footer';



