@import '_helpers';


*::selection {
    background-color:$primary;
    color:$white;
}

html {
    font-size:62.5%; /* Sets up the Base 10 stuff */
    margin:0;
    padding:0;
}
body {
    @extend .regularText;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
a {
    color:inherit;
    text-decoration:none;
}

h1 {
    @extend .title;
}
h2 {
    @extend .subtitle;
}
h3 {
    @extend .subtitleSmall;
}
h4 {
    @extend .subtitleMini;
}


form {
    display:flex;
    flex-direction:column;
    label {
        @include hide-text();
    }
    input {
        border:solid 1px $lightGrey ;
        border-radius:$radiusDefault;
        padding:15px 20px;
        margin:0 15px;
        margin-bottom:15px;
    }
}

.button {
    border-radius:$radiusDefault;
    padding:10px 20px;
    margin:5px 15px;
    // margin-bottom: 15px;
    text-align:center;
    font-weight:bold;
    cursor:pointer;
    transition:background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border 0.3s ease-in-out;
    color:$primary;
    border:solid $primary $borderDefault;
    background:none;
    display:block;
    &:hover {
        color:$white;
        background:$primary;
    }

    &.reversed {
        border:solid $primary $borderDefault;
        background:$primary;
        color:$white;
        &:hover {
        	border:solid $tertiary $borderDefault;
            background:$tertiary;
        }
    }
    &.small {
        padding:5px 10px;
    }
    &.dark {
        border-color:$tertiary;
        background:$tertiary;
        color:$white;
        &:hover {
            border-color:$primary;
            background:none;
            color:$white;
        }
    }
}


.headerApp {
    display:flex;
    min-height:40px;
    background:$lightGrey;
    margin:0;
    padding:15px;
    nav ul {
        margin:0;
        padding:0;
        display:flex;
        flex-direction:row;
    }
}

.page {
    // display: flex;
    // flex-direction: column;
    // height: 100%;
}



@import '_home';
@import '_login';
@import '_footer';



